﻿<%@ Control Language="C#" Inherits="System.Web.Mvc.ViewUserControl<IEnumerable<Honeysuckle.Models.User>>" %>

<%: Html.ListBox("notgroupusers",new SelectList(Model, "ID", "username"), new { id = "notgroupusers", @class = "ignore"}) %>