﻿<%@ Control Language="C#" Inherits="System.Web.Mvc.ViewUserControl<IEnumerable<Honeysuckle.Models.TemplateWording>>" %>

<style>
.item{overflow:visible;}
.vehicle-row.row{ height:100%!important;}
</style>

 <%: Html.DropDownList("wording", new SelectList(Model.ToList(), "ID", "CertificateID"), new { @class = "formatDropdown", @required = "required", @style = "width:100%!important; padding-right:5px;" })%>


 <script type="text/javascript">
    
 </script>
