﻿#auditlink
{
    position:absolute;
    float:right;
    right:10%;
}

.timestamp
{
    padding-top:2px;
    width:122px;
}

.type
{
    width:100px;
}

.person
{
    width:150px;
}

.log, .log-partial
{
    overflow:hidden;
    position:relative;
    float:left;
    width:100%;
    max-height:240px;
}

.log-partial
{
    max-height:350px;
}

.log-partial .old, .log-partial .new
{
    float:left;
    clear:none;
    border:1px solid black;
    padding:5px;
    margin:5px;
}