﻿#maincontent,#main-div
{
    background-color: #FFFFFF;

}

:required
{
    outline:none;
}

#first-login-form
{
      width: 350px;
      padding-bottom: 30px;
      /* margin-left: auto; */
      /* margin-right: auto; */
      background-color: #EAEAEA;
      color: #000;
      position: relative;
      overflow: hidden;
      /* top: 20%; */
      left: 50%;
      margin-top: 12%;
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      box-shadow: 0 0 2.7em grey;
}

#welcome
{
    background-color: #515151;
    height:  45px;
    color: #ffffff;
    width: 270px;
    position:relative;
}

#questionHeading
{
    background-color: #515151;
    height:  50px;
    color: #ffffff;
    width: 350px;
    float:left;
    clear:both;
    margin-bottom:20px;
}

.questions-label
{
    margin-left:-30px;
}


#Icon img
{
    height:32px;
    float:left;
    padding-left: 5px;
    position:relative;
    top:5px;
}

#UserImg img
{
    height:40px;
    float:left;
    padding-left: 5px;
    padding-right: 10px;
    position:relative;
    top:5px;
    
    
}

#welcomeMessage
{
    font-size: 1.45em;
    position:relative;
    top:10px;
    
}

#sQuestion
{
    float:left;
    
    margin-left:auto;
    margin-right:auto;
    margin-top:24px;
}

#LoginHeading
{
    font-size: 18px;
    color: Black;
    position:relative;
    top:8px;
    
}

hr
{
   width: 250px;
   position:relative;
   top:3px;
   margin-left: auto;
   margin-right: auto;
   margin-bottom:20px;
   height: 1px;
   background-color: #B3B3B3    ;
}

#loginBackground
{
    height:100%;
    background-color: #D3D3D3;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}


#signInButton
{
    color: #fff;
    -moz-border-radius: 3px;
    border-radius: 5px;
    height: 40px;
    width: 150px;
    position:relative;
    top:13px;
    
}

#usernamefield
{
    height: 27px;
    text-indent: 7px;
    width:150px;
    border: solid thin #666;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    margin-bottom:0;
}

#passwordfield
{
    height: 27px;
    text-indent: 7px;
    border-left: solid thin #666;
    border-right: solid thin #666;
    border-bottom: solid thin #666;
    width: 150px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

#forgotPass {
    background-color: transparent;
    border: none;
    color: #000000;
    cursor: pointer;
    font-size:0.75em;
}

#forgotPass:hover
{
    color:#29abe2;
}

#clearbtn
{
    background-color: transparent;
    text-decoration: underline;
    border: none;
    color: #000000;
    cursor: pointer; 
}

#reset:hover input
{
    color:Black;
    background-color:transparent !important;
    background-image:none !important;
}

#clear
{
    padding:0;
    margin-left: 25px;
    width: 110px;
    position:relative;
    top:2px;
}

#submitOptions
{
    width: 350px;
    margin-left: 50px;
}

#ButtonLong
{
   background-color: #FF3E96;  
   height: 30px;
   width: 130px; 
}

#subOptions input[type="button"], #subOptions input[type="submit"]
{
    float:right;
    margin-right:5px;
}

#maincontent-insert
{
    border-width:0px !important;
}

.questions
{
    margin-top:20px;
    margin-left:40px;
    margin-bottom:20px;
}

.pword-change-data
{
    margin-left:30px !important;
    float:left;
    clear:both;
    margin-bottom: 10px !important;
}

.btnlinks
{
    float:right;
    width:100%;
    margin-right:35px;
    margin-bottom:0px;
    margin-top:0px;
}

.btnlinks.flogin
{
    margin-right:0px;
}

.question-content
{
    margin-top:15px;
}

.btn-questions
{
    float:none !important;
}

.reset-btn,.reset-btn.flogin
{
    float:right;
    width:100%;
    margin-right:85px;
    margin-bottom:0px;
    margin-top:-20px;
}

.password-invalid {
  font-size: 1.5em;
}

.field-validation-error, .passRules
{
    width: 250px !important;
    font-size: 0.7em;
    float: left;
    font-style:italic;
}

#password1, #confirm_password,.username-reset
{
    float:left !important;
}

.reset-done
{
    height: 27px;
    text-indent: 7px;
    width: 170px !important;
    border: solid thin #666;
    border-radius:3px;
    float:left
    
}

.fields
{
    margin-left: -39px !important;
}

.generateLink
{
    margin-top: 17px;
    height: 20px;
    font-size: 0.8em;
}

.generate
{
  float: left !important;
  margin-left: -125px;
}