﻿#newnote
{
    float:left;
    width:100%;
    overflow:hidden;
}

#to, #subject, #content
{
    clear:left;
    padding-bottom:4px;
    /* width: 400px; */
}

.label, .field
{
    float:left;
}

.label
{
    width:10%;
    padding-right:2px;
}

.field
{
    width:30%;
}

#contents
{
    height:100px;
}

#buttons
{
    clear:left;
}