﻿#notification-thread
{
}

.notification
{
    width:25%;
    background:#FFF;
    border:1px solid #AAA;
    border-bottom:3px solid #BBB;
    padding:0px;
    overflow:hidden;
    height:auto;
}

.note-heading h2
{
    margin:0px;
    padding:10px;
    padding-bottom:0px;
}

.note-id p
{
    margin:0px 10px 0px 10px;
    padding:10px;
}

.dots
{
    float:right;
    width:20px;
    height:10px;
    padding-bottom:10px;
    border:1px, solid #AAA;
}

.dots :hover
{
    background-color:Gray;
}
