﻿#notifications-display /*, #pagenation /*, #notification-menu*/
{
    
}

#notifications-display
{
    /*margin-top:5%;*/
    height:565px;
    width:90%;
}


.menu
{
    height:30px;
    padding-bottom:2px;
    font-weight:bold;
}


.notification-s, .no-notes
{
    width:98%;
    float:left;
    clear:left;   
    color:Black;
    background-color:White;
    border-bottom:1px solid #828384;
    padding-top:2px;
    padding-left:5px;
    padding-right: 1%;
}

.from
{
    width:30%;
}

.heading, .from, .action, .heading .star, .heading span
{
    float:left;
    padding-right:3px;
    
}

.heading
{
    font-weight:bold;
    font-size:0.9em;
    width:30%;
}

.from
{
    width:30%;
}

.from, .date
{
    font-size:0.8em;
}

.notification-s .action
{
    clear:both;
    font-size:1.3em;
}

.notification-s .action a, .notification-s .action span
{
    float:left;
} 

#createlink
{
    float:left;
    clear:left;
}


.menu-item a, .menu-item img
{
    float:left;
    padding-right:2px;
    text-decoration:none;
    margin-top:6%;
}

a.menu-item-link, .count
{
    color:White;
}

.menu-item img
{
    height:24px;
}

.menu-item a
{
    margin-top:12px;
}

.menu-item
{
    padding-left:5%;  
    background-color:#3a383d;
    width:100%;
    padding-bottom:2%;
    border-bottom:2px solid #272629;
}

.menu-item.above
{
    border-top:2px solid #454247;
}

#unread, #all
{
    padding-right:2%;
}

#unread a, #all a, #trash a
{
    font-size:0.9em;
}

#unread:hover, #all:hover, #trash:hover
{
    cursor:pointer;
}

#unread:hover #unread a, 
#all:hover #all a, 
#trash:hover #trash a
{
    color:White;
}

#sent, #senderror
{
    visibility:hidden;
}

.note-page
{
    height:600px;
    position:relative;
    top:20px;
    width:100%;
    float:left;
    clear:both;
}

#unread, #all, #trash
{
    float:left;
    clear:both;
}

#notification-box
{
    float:left;
    clear:both;
    height:600px;
    border:1px solid #8e8d8e;
    width:100%;
}

#notification-menu, #notification-notes
{
    float:left;
}

#notification-menu
{
    background-color:#57585a;
    height:100%;
    width:20%;
}

#notification-notes
{
    height:95.5%;
    background-color:#e8e7e7;
    width:80%;
    overflow:hidden;
    box-shadow: -2px 0px 5px 0px #3e3e3f;
    /*z-index:100;*/
    -webkit-box-shadow: -2px 0px 5px 0px #3e3e3f;
    -moz-box-shadow: -2px 0px 5px 0px #3e3e3f;
     position: relative;
}

.unread-star
{
    height:17px;
}

.line
{
    width:100%;
    float:left;
    clear:both;
}

.date
{
    float:right;
    padding-right:5px;
}

.mail-btn img
{
    height:20px;
}

.mail-btn:hover, .unread-star:hover
{
    cursor:pointer;
}

.action
{
    float:right;
    clear:both;
}

.line2
{
    padding-left:3%;
}

.content, .ellipses
{
    float:left;
}

.content
{
    width:50%;
    height:19px;
    overflow:hidden;
    word-break:break-all;
    font-size:0.9em;
}

.content.wide
{
    word-break:normal;
    width:80%;
}

.content.high
{
    height:100%;
}

.mail-count
{
    float:right;
    margin-right:13%;
    margin-top:7%;
    padding:3px;
    border: 1px solid #525255;
    border-radius:4px;
    background-color:#3e3e3f;
    color:White;
    font-size:0.9em;
}

.menu-item.select
{
    background-color:#11679a;
}

.menu-item.selected .mail-count
{
    color:#11679a;
}

.page-title
{
    opacity:1 !important;
    padding-left:10px;
}

img.mailboxicon
{
    position:relative;
    top:23%;
}

#pagenation
{
    width: 80%;
    height: 27px;
    background-color: #57585a;
    /* position: absolute; */
    /* bottom: 0px; */
    /* left: 272px; */
    /* float: left; */
    /* clear: both; */
    margin-top: 68.3%;
    margin-left: 20%; 
}

.prevpage
{
    float:left;
    padding-left:15px;
}

.nextpage
{
    float:right;
    padding-right:15px;
}

.pagebtn
{
    border: 1px solid #525255;
    border-radius:4px;
    color: White;
    padding:2px;
    width:20px;
    text-align:center;
    margin:1px;
    background-color: #11679a;
}

.pagebtn:hover
{
    cursor:pointer;
    color:Gray;
    background-color:#8cc63f;
}

.star
{
    width:20px;
    height:20px;
}

.no-notes
{
    color:Red; 
}

.garbage, .less
{
    display:none;
}