﻿
.menu .make.item {
    width: 235px;
}

.vehicle-row.row
{
    height:28px;
}

#createCerts .insured-modal .ivis-table #vehiclesListSelect  .vehicle-row.row .make
{
    line-height:26px;
}
.vehicle-row.row :required
{
    outline:none;
}
.vehicle-row.row .vehicle-check .vehcheck.polVehList
{
    margin-top:6px;
}

.templateWording
{
    width:200px;
}

.effectiveDate, .expiryPicker
{
    width:150px;
}

/**mass cover dialog**/
.coverperiod.coverbuttons
{
    margin-left: 30px !important;
}

.vehicle-advanced-data
{
    display:none;
}

.advanched-check
{
    width:20px;
}

.billing-address-section.hidden
{
    display:none;
}

.bilcheck
{
    float:left;
    padding-left:30px;
    font-size:0.7em;
    font-weight:normal;
}

.pidrop
{
    width:200px;
    margin-bottom:5px;
}

.shown-policy-data
{
    padding-top:20px;
}

#policyholders, #vehicle-box
{
    float:left;
    clear:both;
    margin-bottom:40px;
}

#policyholders .policy-box
{
    float:left;
    clear:none;
    width:300px;
    margin-right:10px;
}

.insured-modal
{
    height:470px;
}
  
.minorHeader
{
    padding-top: 20px !important;
    padding-bottom: 20px;
}

.insured, .company, .newdriver
{
    border:1px solid #b1b2b4;
    width: 260px;
    background-color: #ffffff;
    padding-left: 3px;
    height: 22px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin-top:5px;
    margin-bottom: 0;
}
  
.remInsured, .remCompany
{
    height:22px !important;
    float:right;
}
  
.blueSpace
{
    width:80px;
    height:22px;
    background-color: #00aeef;
    float:right;
}
  
.perTRN, .CompIAJID, .names, .companyNames, .driverName
{
    float:left;
    padding: 0;
    border: none !important;
    color: #00aeef;
    cursor:pointer;
}

.chassisNumber
{
    width:180px !important;
    float:left;
    border: none !important;
    font-weight:bold;
    text-indent: 3px;
    color: #00aeef;
}

.vehData,.vehRegNo
{
    padding: 0;
    border: none !important;
    color: #00aeef;
    font-weight:bold;
}

.vehData
{
    cursor:pointer;
}
.underPolicy .vehData 
{
    cursor:auto;
}

.usage_dropdown
{
    font-size:0.75em;
}  

.usage_dropdown, #rel, #relation, #relat, .text-indent, .vup_mortgagee
{
    float:left;
    padding: 0;
    text-indent: 3px;
    padding-top: 1px;
    width: 190px !important; 
}
 
.data-field1
{
    margin-bottom:1px;
}
  
.driver-field
{
    min-height: 1px;
    clear: right !important;
    padding-bottom: 5px !important;
}
  
.label
{
    float:left;
    width:50px;
}

.data-field
{
    float:left;
    margin-left:10px;
    padding-right:18px;
    height: 22px;
}

.driver-label
{
    width:80px;  
    float:left;
    font-size: 1.4em;
    padding-top: 4px;
    color: Black;
    padding-left: 3px;
}
  
.line
{
    width:100%;  
    float:left;
    clear:both;
    color: Black;
    margin-top:5px;
    padding-left:10px;
    
}

.PrevPolicy
{
    width:100%;  
    float:left;
    clear:both;
    color: Black;
    margin-top:5px;
    min-height: 75px !important;
    
}


.insured-data .line
{
    margin-left:5px;
}

.line span, .line .useDropDown
{
    float:left;
}
.dropdown_spacing
{
    margin-bottom:12px;
}

.line span
{
    width:180px;
}

.relationLabel
{
    float:left;
    clear:left !important;
}
  
.newvehicle
{
    background-color: #ffffff;
    width:400px;
    border-radius:2px;
    border:1px solid #b1b2b4;
    float:left;
    margin-right:5px;
    margin-bottom:5px;
}

.driver-div
{
    border:2px solid #b1b2b4;
    width: 100%;
    overflow:hidden;
    border-bottom-left-radius:2px;
    border-bottom-right-radius:2px;
    margin-left:9px;
    margin-top:10px;
}

.driver-div .insured-data, .driver-div .DriverFooter, .driver-div .insured .line
{
    float:left;
    clear:both;
}

.insured-data .line .label, .insured-data .line .item .items
{
    float:left;
    clear:none;
    width:auto !important;
}

.perTRN.item
{
    width: 100px !important;
}

#mainDriverImage
{
    float:right;
}

.names, .companyNames
{
    margin-bottom:5px;
    width:100px !important;
}

.driverName
{
    margin-bottom:5px;
    width:200px !important;
}

.perTRN
{
    font-size:1em;
}

  
.vehicleFooter, .DriverFooter
{
    background-color: #00aeef;
    height: 30px;
    float:left;
    clear:both;
    margin-top:0px;
}

.vehicleFooter
{
    width: 97.5%;
}

.DriverFooter
{
    width:100%;
    margin-top:13px;
}
  
.vehicleFooter a:hover, .vehicleButton a:hover
{
    background-color: #8cc63f;
    color: black !important;
}

.vehicleButton
{
    width: 97.5%; 
    float:left;
    clear:both;
    margin-top:5px;
    height: 30px;
}

.vehicleFooter a, .vehicleButton a 
{
    color: #ffffff !important;
    margin-right: 10px;
    font-size: 0.875em;
    text-decoration: none !important;
    background-color: #4d4d4d;
    padding: 4px;
    float: right;
    margin-right: 5px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}
  
  
.DriverFooter a
{
    color: #ffffff !important;
    font-size: 1.2em;
    text-decoration: none !important;
    margin-left: 5px;
}

 .remDriver
{
    float: right;
    margin-right: 10px;
}
  
.rmvehicle
{
    float: right !important;  
}

.buttonCancel, .messageCompAdmins
{
    width:auto !important;
}

.editDrivs
{
    background-color: #8cc63f;
    color: #fff;
    -moz-border-radius: 4px;
    border-radius: 4px;
    height: 27px;
    width: 100px; 
    margin-left:10px;
    padding: 0 !important;
    margin-top: 10px;
    border: none ! important;
    font-size: 1em !important;
    float: right;
    margin-right: 180px;
}

.comps
{
    margin-left: 85px !important;
}

.insureds
{
    margin-left: 100px !important;
}

.vehs
{
    margin-left: 120px !important;
}

#rel, #relation, #relat
{
    margin-top: 10px;
}

.vehicleChassisHeader:hover
{
    cursor:pointer;
}

#chassisNumb
{
    color: #00aeef !important;
    background-color:  #3a3a3c !important;
    border: none !important;
    overflow: hidden !important;
    height: 20px !important;
}

.people-search, .vehicle-search, .company-search
{
    float: left;
    padding: 1px;
    position: relative;
    height: 30px;
    text-indent: 2px;
    border-radius: 5px;
    border: 1px solid #000000;
}

.vehicle-wrapper, .allcompaniesmodal
{
    height:300px;
    width:100%;
    overflow:hidden;
    clear:both;
    float:left;
}

#vehiclelist-selected
{
   /* max-height:150px;
    overflow-y:scroll;
    overflow-x:hidden; */
}

#companiesList, #selected-companies
{
    width:100%;
    float:left;
    clear:both;
}

.company-row.none, .rowNone
{
    margin-top:20px;
    font-weight:bold;
}

.certVehicleHeader
{
   /* padding-top: 10px !important;*/
    padding-bottom: 20px;
    margin-bottom: 40px;
}

. policy-box
{
    margin-bottom:20px;
}

#addInsured, #addCompany
{
    margin-top:10px;
}

#addvehicle
{
    clear:none !important;
    float:left;
    margin:0px !important;
}

#vehicles
{
    float:left;
    clear:both;
    width:100%;
}

.btnlinks
{
    width:100% !important;
}

.vehicleflag
{
    font-size:0.875em;
    max-height:60px;
}

.cancelbtn
{
    max-height:30px;
}

.fullmess
{
    width:100% !important;
    font-size:0.5em;
    font-style:italic;
    color:Red;
    line-height:40px;
}

/* SECTION FOR MULTIPLE PERSON MODAL */


.item
{
    margin-right:5px;
}

.select
{
    width:40px;
}

.selectItem
{
    width: 70px;
}

.selectItem.vehicle-check
{
    width:100%;
}

.row .selectItem
{
    /*padding-left:30px;*/
    width:68px;
}
.element
{
    width:150px;
}
.row .element
{
    padding-left:10px;
    width:100px;
}

.row .element, .row .make .cover
{
    margin-top:6px;
}

.row .element.vcApprove
{
    margin-top:0px !important;
}
.row .element.vcPrint
{
    margin-top:0px !important;
}


.selectItem.selectAll
{
    width:100px !important;
    line-height:19px !important;
}

.companyType, .iajid, .companyType,
.lname, .fname, .trn, .chassisno, .username
{
    width:150px;
    overflow:hidden;
}

.make, .model, .regno, .vin
{
    width:213px;
}

.ivis-table
{
    width:100% !important;
   /* max-height:400px;
    min-height:200px;*/
    overflow:hidden;
}

.ui-widget button, .ui-widget input
{
    float:left;
}

.mess
{
    font-weight:bold;
    float:left;
    width:auto !important;
}

.index-search
{
    clear:none !important;
}

/*.vehicle-row 
{
    width:97% !important;
}*/

#vehicles .line #searching
{
    margin-right:11px;
}

.check-div
{
    float:left;
    clear:both;
    margin-top:5px;
    margin-bottom:5px;
}

.check-div .editor-label, .check-div .editor-field
{
    float:left;
    clear:none;
}

.check-div .editor-label
{
    width:116px;
}

.check-div .editor-field
{
    width:20px;
}

.multiple
{
    float:right;
}

.selectedRow
{
    background-color: #29abe2 !important;
    color: #ffffff !important;
}

.drivers
{
    float:left;
    width:30%;
    margin-right:20px;
}

.drivers .add-dynamic
{
    width:100%;
    height:126px;
    padding:0px;
}

.drivers .add-dynamic.big img
{
    margin-top:25px;
} 

.PolVehicle
{
    margin-bottom:20px;
    overflow:hidden;
    float:left;
    clear:both;
    width:100%;
}

.displayPoldata, comp_data
{
   cursor: pointer; 
}


/*////////////////////////////////*/

#vehiclesList, #insureds, #companiesList, #user
{
    position: relative;
    max-height:380px !important;
    float:left;
    width: 100%;
    overflow:hidden;
    float:left;
    clear:both;
    
}


/* /////////////////////////////////////// */

#to, #notificaton
{
    clear:both;
    margin-bottom:30px !important;
    /* width: 400px; */
}

#subject 
{
    clear:both;
    margin-bottom:60px !important;
}

.NoteLabel
{
    font-size: 1.2em;
    font-weight:bold;
}

.DataField
{
    width: 410px !important;
}

.check-field
{
    float:left;
    clear:left;
}

.check-field div
{
    float:left;
    clear:none;
}

.check-field .editor-label
{
    width:225px;
}

.check-field .editor-field select
{
    width:15px;
}


fieldset
{
    width:100%;
}

.selectedRow
{
    background-color: #90e185 !important;
}

.companyName 
{
      min-width: 200px;
      max-width: 200px;
      height: 15px;
}

.validate-section.policy-risk
{
    min-height:100px;
}

#vehiclesContainer
{
    margin-left:20px;
}

.modal-list .chassisno,.modal-list .make,.modal-list .regno,.modal-list .model
{
    width:150px !important;
}
.modal-list .row
{
    height:0px;
}
.modal-list .menu .trn
{
    padding-left:15px;
    width: 125px !important;
}

.policy-holders
{
    float:left;
    clear:both;
}

.processed-responses
{
    position: absolute;
    right:104px;
    float:right;
    opacity: 0.7;
    overflow:hidden;
    max-height:400px;
    z-index:100;
}

.policyholders .processed-responses
{
    top: 265px;
}

.policy-risk .processed-responses
{
    top: 370px;
}

.success-message,
.error-message,
.remove-message
{
    min-width:123px;
    max-width:220px;
    min-height:25px;
    max-height:50px;
    color:White;
    border-radius:3px;
    text-align:center;
    float:left;
    clear:both;
    margin-bottom:5px;
    padding:8px;
    font-size:0.75em;
    font-weight:normal;
}

.success-message
{
    background-color:Green;
}

.error-message
{
    background-color:Red;
}

.remove-message
{   
    background-color:#A8003B;
}

.cancelledRecord
{
    height: 18px;
    background-color: red;
    position: absolute;
    left: 860px;
    margin-top: 11px;
    padding: 0px 5px 0px 5px;
    font-size: 1.1em;
    color:#ffffff;
    border-radius:4px;
}
input.vehData,input.chassisNumber
{
    width:190px !important;
}

.blurDiv
{
    overflow:hidden;
    position: static;
}
.underPolicy span
{
    color:#ffffff;
}
.ResultModal
{
    color:Red;
}
.ResultModal.green
{
    color:Green !important;
}

.WarningInfo
{
    color:Orange;
    font-size:1.0em;
}
