﻿fieldset
{
    height:auto;
    width:auto;
}
.display-label
{
    float:left;
}
.display-field
{
    float:left;
}
.field
{
    width:200px;
    height:10px;
    clear:both;
}
.children, .child
{
    clear:both;
}
.child
{
    border:.1px solid black;
    width:300px;
}
.child-permission
{
    float:left;
    width:120px;
}
.perm
{
    
}