﻿.files, .btnAdd, .file-info
{
    float:left;
    clear:both;
}

.file-info label, .file-info .fileUpload
{
    float:left;
}

.file-info, .files
{
    width:100%;
}

.file-info label
{
    width:280px;
    font-size:0.8em;
    margin-top:3px;
}

.file-info
{
    margin-bottom:10px;    
}
input.fileupload{
    color: transparent;
    width: 90px;
}

.bar {
    height: 18px;
    background: green;
    width:0%;
}
#instructions
{
    font-size: 0.8em;
    color: #EB6800;
    margin-bottom: 10px;
    font-style: italic;
    width: 500px;
}