﻿<%@ Master Language="C#" Inherits="System.Web.Mvc.ViewMasterPage" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

    <head id="Head1" runat="server">

        <% Response.Cache.SetCacheability(HttpCacheability.NoCache); %> 
        <% Response.Cache.SetExpires(DateTime.UtcNow.AddHours(-1)); %> 
        <% Response.Cache.SetNoStore(); %> 
        <% Response.Cache.SetETag(Guid.NewGuid().ToString()); %> 
        <%//@ Page ValidateRequest="false" %>
        
        
        <title><asp:ContentPlaceHolder ID="TitleContent" runat="server" /></title>
        
        <!-- THIS IS A GENERAL JS FILE WHERE ANY FUNCTION I WANT ANY SCRIPT TO BE ABLE TO CALL IT SHOULD BE PUT HERE -->
        <script src="../../Scripts/ApplicationJS/general.js" type="text/javascript"></script>
        <!-- JQUERY -->
        <script src="../../Scripts/jquery-1.11.2.min.js" type="text/javascript"></script>
        <script src="../../Scripts/jquery-ui-1.10.4.min.js" type="text/javascript"></script>
        <link href="../../Content/jquery-ui-1.10.4.min.css" rel="stylesheet" type="text/css" />
        <script type="text/javascript">
            $(document).tooltip({
                tooltipClass:"tooltip",
            });
        </script>
        <!-- CHOSEN -->
        <script src="../../Scripts/chosen.jquery.min.js" type="text/javascript"></script>
        <link href="../../Content/chosen.min.css" rel="stylesheet" type="text/css" />
        <!-- PERFECT SCROLLBAR -->
        <script src="../../Scripts/perfect-scrollbar.min.js" type="text/javascript"></script>
        <link href="../../Content/perfect-scrollbar.min.css" rel="stylesheet" type="text/css" />

        <script src="../../Scripts/ApplicationJS/permissionMessage.js" type="text/javascript"></script>
        <script src="../../Scripts/ApplicationJS/uploadModal.js" type="text/javascript"></script>
        <link href="../../Content/Site.css" rel="stylesheet" type="text/css" />
        <link href="../../Content/table.css" rel="stylesheet" type="text/css" /> <!-- TABLE DESIGNS -->
        <link href="../../Content/add-dynamic.css" rel="stylesheet" type="text/css" /> <!-- FOR DYNAMIC ADD 'BUBBLES' -->
        <link href="../../Content/readonly.css" rel="stylesheet" type="text/css" /> <!-- SPECIAL READ ONLY CSS -->
        <link href="../../Content/icon.css" rel="stylesheet" type="text/css" /> <!-- FOR MANAGING HOVER AND ACTIVE OVER ICONS -->
        <script src="../../Scripts/ApplicationJS/iconlinks.js" type="text/javascript"></script> <!-- FOR MANAGING LINKING TO PAGES THROUGH JS ON ICON CLICKS -->

        <!-- FOR NOTIFICATION BAR -->
        <script src="../../Scripts/ApplicationJS/notification.js" type="text/javascript"></script>
        <link href="../../Content/Notification.css" rel="stylesheet" type="text/css" />

        <script src="../../Scripts/ApplicationJS/safari-required.js" type="text/javascript"></script> <!-- HTML5 required not supported in Safari -->
        
        <% if (Honeysuckle.Models.Constants.user.username != "not initialized"){ %>
        
            <!-- FOR KEEPING USER'S SESSION OPEN -->
            <script src="../../Scripts/ApplicationJS/sessionalive.js" type="text/javascript"></script>

        <% } %>
        
        <script src="../../Scripts/ApplicationJS/gensearch.js" type="text/javascript"></script> <!-- SEARCH BAR IN MENU -->
        <script src="../../Scripts/ApplicationJS/quick-search-general.js" type="text/javascript"></script> <!-- SEARCH ON FORMS/INDEX -->
        <link href="../../Content/search.css" rel="stylesheet" type="text/css" />
        <script src="../../Scripts/ApplicationJS/back.js" type="text/javascript"></script> <!-- MANAGES DYNAMIC BACK BUTTON -->
        <script src="../../Scripts/ApplicationJS/auditlog.js" type="text/javascript"></script> <!-- MANAGES SEARCHING FOR AUDIT LOG -->
        <link href="../../Content/audit.css" rel="stylesheet" type="text/css" /> <!-- styling audit log -->

        
        <link href="../../Content/arrow.css" rel="stylesheet" type="text/css" /><!-- manages arrow turns -->
        <script src="../../Scripts/ApplicationJS/browser.js" type="text/javascript"></script> <!-- refuses access to page if browser not supported -->

        <link href="../../Content/dataprocessing.css" rel="stylesheet" type="text/css" /> <!-- styling for data processing work -->
        <script src="../../Scripts/ApplicationJS/dataprocessing.js" type="text/javascript"></script> <!-- js for data processing view code -->
        
        <link href="../../Content/maindiv-hd.css" rel="stylesheet" type="text/css" />
        <link href="../../Content/maindiv-fullheight.css" media='screen and (min-height: 900px) and (max-height: 1000px)' rel="stylesheet" type="text/css" />
        

        <asp:ContentPlaceHolder ID="jscss" runat="server" />

        <%-- if (Session["User"] == null) Honeysuckle.Models.Constants.user = Honeysuckle.Models.UserModel.GetUserbyGUID(Honeysuckle.Models.RSA.Decrypt(Request.Cookies["Cookie"]["sessions"], "session", int.Parse(Request.Cookies["Cookie"]["kid"])));
                Session["session"] = Request.Cookies["Cookie"].Value;--%>
        <%
            if (Request.Cookies["Cookie"] != null)
            {
                Honeysuckle.Models.Constants.updatePages();
                if (Honeysuckle.Models.Constants.user.username != "not initialized") Honeysuckle.Models.Constants.user.UserGroups = Honeysuckle.Models.UserModel.GetGroupsAndPermissions(Honeysuckle.Models.Constants.user.ID);
            }

            Honeysuckle.Models.Constants.ipaddress = HttpContext.Current.Request.UserHostAddress.ToString();
            
         %>


    </head>

    <body>
        <div id="log-data-modal"></div>
        <div id="log-data-modal-diff"></div>
        <div class="not-supported"></div>
        <div class="page">

            <div id="header">
                
                <div id="header-content">
                    <a href="/Home/" id = "ivis-icon-header">
                        <img src='/Content/more_images/IVIS_Logo.png' id = "IconContainer" />
                    </a>
                        <div id="selfdata">
                            <% if (Honeysuckle.Models.Constants.user.username != "not initialized")
                                { %>
                            
                                <% bool test = false;
                                    if(Honeysuckle.Models.Constants.user.employee != null) if (Honeysuckle.Models.Constants.user.employee.person != null) test = true;
                                    if (!test){
                                        List<Honeysuckle.Models.UserGroup> ug = new List<Honeysuckle.Models.UserGroup>();
                                        if (Honeysuckle.Models.Constants.user.UserGroups != null) ug = Honeysuckle.Models.Constants.user.UserGroups;
                                        Honeysuckle.Models.Constants.user = Honeysuckle.Models.UserModel.GetUser(Honeysuckle.Models.Constants.user.ID);
                                        Honeysuckle.Models.Constants.user.UserGroups = ug;
                                    } 
                                    %>
                                <p> 
                                    <div class="selfline green">Hello, <span><%: (Honeysuckle.Models.Constants.user.employee.person.fname) + " " + (Honeysuckle.Models.Constants.user.employee.person.lname)%></span> <% if (Honeysuckle.Models.Constants.user.newRoleMode) { %> <%: Html.ActionLink("Release", "ReleaseTempRole", "RoleManagement", null, new { @class = "profilelink" })%> <% } %>  <% if (Honeysuckle.Models.UserModel.TestUserPermissions(Honeysuckle.Models.Constants.user, new Honeysuckle.Models.UserPermission("Users","EditProfile"))) { %><%: Html.ActionLink("Edit Profile", "Profile", "User", null, new { @class = "profilelink" } ) %> <% } %></div>
                                    <div class="selfline green">Company: <span><%: (Honeysuckle.Models.Constants.user.employee.company.CompanyName)%></span></div>
                                    <div class="selfline green">Last Login: <span><%: (Honeysuckle.Models.UserModel.GetLastLogin().ToString("d MMM, yyyy, HH:mm tt"))%></span></div>
                                </p>
                               
                            <% } %>
                        </div>
                 </div>
            </div>
             
         <div id="main-div">
            <div id="maincontent">
                <% if (Honeysuckle.Models.Constants.user.username != "not initialized") { %>

                 <%
                     bool isAdmin = Honeysuckle.Models.UserGroupModel.AmAnAdministrator(Honeysuckle.Models.Constants.user);
                     bool isCompAdmin = Honeysuckle.Models.UserGroupModel.TestUserGroup(Honeysuckle.Models.Constants.user, (new Honeysuckle.Models.UserGroup("Company Administrator")));
                     bool isIAJAdmin = Honeysuckle.Models.UserGroupModel.AmAnIAJAdministrator(Honeysuckle.Models.Constants.user);
                     bool PolCreate = Honeysuckle.Models.UserModel.TestUserPermissions(Honeysuckle.Models.Constants.user, new Honeysuckle.Models.UserPermission("Policies","Create"));
                     bool certCreate = Honeysuckle.Models.UserModel.TestUserPermissions(Honeysuckle.Models.Constants.user, new Honeysuckle.Models.UserPermission("Certificates", "Create"));
                     bool noteCreate = Honeysuckle.Models.UserModel.TestUserPermissions(Honeysuckle.Models.Constants.user, new Honeysuckle.Models.UserPermission("CoverNotes", "Create"));
                     bool cover_read = Honeysuckle.Models.UserModel.TestUserPermissions(Honeysuckle.Models.Constants.user, new Honeysuckle.Models.UserPermission("CoverNotes", "Read"));
                     bool cert_read = Honeysuckle.Models.UserModel.TestUserPermissions(Honeysuckle.Models.Constants.user, new Honeysuckle.Models.UserPermission("Certificates", "Read"));
                     int company_id = Honeysuckle.Models.CompanyModel.GetMyCompany(Honeysuckle.Models.Constants.user).CompanyID;
                     bool business_intelligence_update = Honeysuckle.Models.UserModel.TestUserPermissions(Honeysuckle.Models.Constants.user, new Honeysuckle.Models.UserPermission("BI", "Update"));
                     bool authorized_drivers = Honeysuckle.Models.UserModel.TestUserPermissions(Honeysuckle.Models.Constants.user, new Honeysuckle.Models.UserPermission("Authorized", "Read"));
                     bool is_insurer = Honeysuckle.Models.CompanyModel.IsCompanyInsurer(company_id);
    
                     
                     // Testing if the curent user has a temp role
                     bool allow = false;
                     if (Honeysuckle.Models.Constants.user.newRoleMode)
                     {
                       if (Honeysuckle.Models.CompanyModel.IsCompanyInsurer(Honeysuckle.Models.Constants.user.tempUserGroup.company.CompanyID))
                           allow = true;
                     }
                     else if (Honeysuckle.Models.CompanyModel.IsCompanyInsurer(Honeysuckle.Models.UserModel.GetUser(Honeysuckle.Models.Constants.user.ID).employee.company.CompanyID) || (Honeysuckle.Models.UserGroupModel.AmAnAdministrator(Honeysuckle.Models.Constants.user)))
                            allow = true;
                  %>

                    <div id="menucontainer">
            
                        <ul id="menu">    

                              <li><%: Html.ActionLink("Home", "Index", "Home" )%></li>

                            <% if (isCompAdmin || isIAJAdmin || isAdmin)
                                { %>
                                    <li><span class="menuheading">Admin</span>
                                        <ul>
                                            <% if (isIAJAdmin || isAdmin) 
                                                { %>
                                                <li><%: Html.ActionLink("Create Company", "Create", "Company")%><div class="block"></div></li>
                                            <%  } %>
                                            <% if (Honeysuckle.Models.UserModel.TestUserPermissions(Honeysuckle.Models.Constants.user, new Honeysuckle.Models.UserPermission("Company", "Read")) ||
                                                    Honeysuckle.Models.UserModel.TestUserPermissions(Honeysuckle.Models.Constants.user, new Honeysuckle.Models.UserPermission("Policies", "Read")) ||
                                                    Honeysuckle.Models.UserModel.TestUserPermissions(Honeysuckle.Models.Constants.user, new Honeysuckle.Models.UserPermission("CoverNotes", "Read")) ||
                                                    Honeysuckle.Models.UserModel.TestUserPermissions(Honeysuckle.Models.Constants.user, new Honeysuckle.Models.UserPermission("People", "Read")) ||
                                                    Honeysuckle.Models.UserModel.TestUserPermissions(Honeysuckle.Models.Constants.user, new Honeysuckle.Models.UserPermission("Vehicles", "Read")) ||
                                                    Honeysuckle.Models.UserModel.TestUserPermissions(Honeysuckle.Models.Constants.user, new Honeysuckle.Models.UserPermission("Certificates", "Read")))
                                               { %>
                                               <li> <%: Html.ActionLink("View Company Data", "CompanyPolicies", "Company")%><div class="block"></div> </li>
                                               <li> <%: Html.ActionLink("View Data Imports", "DataImports", "Company")%><div class="block"></div> </li>
                                               
                                            <% } %>
                                            <% if (Honeysuckle.Models.UserModel.TestUserPermissions(Honeysuckle.Models.Constants.user, new Honeysuckle.Models.UserPermission("UserGroups","Read"))) // && !(Honeysuckle.Models.UserGroupModel.AmAnIAJAdministrator(Honeysuckle.Models.Constants.user)))
                                                { %>
                                                    <li><%: Html.ActionLink("Role Management", "Index", "RoleManagement")%><div class="block"></div></li> 
                                            <%  } %>
                                            <% if (Honeysuckle.Models.UserModel.TestUserPermissions(Honeysuckle.Models.Constants.user, new Honeysuckle.Models.UserPermission("Users","Create")))
                                                { %>
                                                <li><%: Html.ActionLink("Create User", "Create", "User")%><div class="block"></div></li>
                                            <%  } %>
                                            <% if (Honeysuckle.Models.UserModel.TestUserPermissions(Honeysuckle.Models.Constants.user, new Honeysuckle.Models.UserPermission("Users", "Read")))
                                               { %>
                                                 <li><%: Html.ActionLink("View Users", "UserList", "Company", new { id = Honeysuckle.Models.UserModel.GetUser(Honeysuckle.Models.Constants.user.ID).employee.company.CompanyID },null)%><div class="block"></div></li>
                                             <% } %>
                                            <% if (Honeysuckle.Models.UserModel.TestUserPermissions(Honeysuckle.Models.Constants.user, new Honeysuckle.Models.UserPermission("Users", "Upload")) && false)
                                               { %>
                                                    <li><%: Html.ActionLink("User Batch Upload", "Upload", "User")%><div class="block"></div></li> 
                                            <% } %>
                                            <% if ((Honeysuckle.Models.UserModel.TestUserPermissions(Honeysuckle.Models.Constants.user, new Honeysuckle.Models.UserPermission("PolicyCovers", "Read")) && (allow || Honeysuckle.Models.UserGroupModel.AmAnAdministrator(Honeysuckle.Models.Constants.user))) && !(Honeysuckle.Models.UserGroupModel.AmAnIAJAdministrator(Honeysuckle.Models.Constants.user)))
                                                { %>
                                                    <li><%: Html.ActionLink("Policy Cover Management", "Index", "PolicyCover")%><div class="block"></div></li> 
                                            <%  } %>
                                            <% if (authorized_drivers && is_insurer)
                                               { %>
                                                <li><%: Html.ActionLink("Authorized Drivers Setup", "Index", "AuthorizedDriverWording") %><div class="block"></div></li>
                                            <% } %>
                                            <% if (Honeysuckle.Models.UserModel.TestUserPermissions(Honeysuckle.Models.Constants.user, new Honeysuckle.Models.UserPermission("Wording","Read")) && (allow || Honeysuckle.Models.UserGroupModel.AmAnAdministrator(Honeysuckle.Models.Constants.user)))
                                                { %>
                                                    <li><%: Html.ActionLink("Template Wording Manager", "Index", "TemplateWording")%><div class="block"></div></li> 
                                            <%  } %>
                                            <% if (Honeysuckle.Models.UserModel.TestUserPermissions(Honeysuckle.Models.Constants.user, new Honeysuckle.Models.UserPermission("Intermediaries", "Read")) && allow)
                                                { %>
                                                <li><%: Html.ActionLink("Intermediaries", "Index", "Intermediary", new { id = Honeysuckle.Models.UserModel.GetUser(Honeysuckle.Models.Constants.user.ID).employee.company.CompanyID }, null)%><div class="block"></div></li>
                                            <%  } %>
                                            <% if ((Honeysuckle.Models.UserGroupModel.AmAnAdministrator(Honeysuckle.Models.Constants.user) || Honeysuckle.Models.UserGroupModel.IsAdministrative(Honeysuckle.Models.Constants.user)) && business_intelligence_update)
                                                { %>
                                                    <li><%: Html.ActionLink("Business Intelligence Setup", "Manage", "BI")%><div class="block"></div></li> 
                                            <%  } %>
                                            <% if (Honeysuckle.Models.UserModel.TestUserPermissions(Honeysuckle.Models.Constants.user, new Honeysuckle.Models.UserPermission("Mapping","Read"))) // && !(Honeysuckle.Models.UserGroupModel.AmAnIAJAdministrator(Honeysuckle.Models.Constants.user)))
                                                { %>
                                                    <li><%: Html.ActionLink("Data Mapping Management", "Index", "DataMapping")%><div class="block"></div></li> 
                                            <%  } %>
                                            <% if ((Honeysuckle.Models.UserGroupModel.AmAnAdministrator(Honeysuckle.Models.Constants.user) || Honeysuckle.Models.UserGroupModel.IsAdministrative(Honeysuckle.Models.Constants.user)) && Honeysuckle.Models.CompanyModel.IsCompanyInsurer(Honeysuckle.Models.CompanyModel.GetMyCompany(Honeysuckle.Models.Constants.user).CompanyID))
                                                { %>
                                                    <li><%: Html.ActionLink("Image Print Setup", "ImageUpload", "TemplateWording")%><div class="block"></div></li> 
                                            <%  } %>
                                            <% if (isAdmin)
                                               { %>
                                                <li><%: Html.ActionLink("TAJ Credentials Setup", "TAJCredentials", "TAJ", new { id = company_id }, new { })%><div class="block"></div></li>
                                            <% } %>
                                            <% if (isAdmin)
                                               { %>
                                                <li><%: Html.ActionLink("Duplicate Data Management", "Index", "Duplicate")%><div class="block"></div></li>
                                            <% } %>
                                           <%-- %> <% if (Honeysuckle.Models.UserModel.TestUserPermissions(Honeysuckle.Models.Constants.user, new Honeysuckle.Models.UserPermission("AuditLog", "Read")) && Honeysuckle.Models.UserGroupModel.IsAdministrative(Honeysuckle.Models.Constants.user))
                                               { %>
                                                <li><%: Html.ActionLink("Audit Log", "Index", "Audit") %><div class="block"></div></li> 
                                            <% } %> --%>
                                       </ul>
                                    </li>
                            <% } %>

                            <% if (!isIAJAdmin && (PolCreate || certCreate || noteCreate))
                                { %>
                                    <li><span class="menuheading">Actions</span>
                                        <ul>
                                            <% if (PolCreate) { %>
                                                <li><%: Html.ActionLink("Create Policy", "Create", "Policy", new { id = 0 }, null)%><div class="block"></div></li>
                                            <% } %>
                                            <% if (certCreate) { %>
                                                <li><%: Html.ActionLink("Create Certificate", "Create", "VehicleCertificate", new { id = 0 }, null)%><div class="block"></div></li>
                                            <% } %>
                                            <% if (noteCreate) { %>
                                                <li><%: Html.ActionLink("Create Cover Note", "Create", "VehicleCoverNote", new { id = 0 }, null)%><div class="block"></div></li>
                                            <% } %>
                                            <% if (Honeysuckle.Models.UserModel.TestUserPermissions(Honeysuckle.Models.Constants.user, new Honeysuckle.Models.UserPermission("Import", "Import"))){ %>
                                                <li><%: Html.ActionLink("Upload Policy Data",null,null,null,new{id="upload"})%><div class="block"></div></li>
                                            <% } %>
                                           
                                        </ul>
                                    </li>
                            <% } %>
                        
                            <li>
                                <% if (Honeysuckle.Models.Constants.user.username != "not initialized") { %>
                                   <%: Html.ActionLink("Logout", "Logout", "Login") %> 
                                <% } %>
                                <% else { %>
                                  <%: Html.ActionLink("Login", "Index", "Login") %> 
                                <% } %>
                            </li>
                        </ul>
                        
                        <% if (Honeysuckle.Models.Constants.user.username != "not initialized") { %>
                            <div class="noting-things">
                                <% if (cover_read || cert_read) { %>
                                    <div id="covercert-notification" class="notification-section"  hidden="hidden">
                                        <div class="notificationtoggle" onclick="ToggleCoverCertClass()">
                                            <img id="noting1" src="../../Content/more_images/cover-list-notification.png" title="View Covers Needing Approval" />
                                        </div>
                                        <div class="note-count"><span class="count"></span></div>
                                        <% Html.RenderAction("CoverCerts", "Notification"); %>
                                    </div>
                                <% } %>
                                <div class="notification-section notifications">
                                    <div class="notificationtoggle" onclick="ToggleNotificationClass()">
                                        <img id="noting2" src="../../Content/more_images/notification-icon.png" title="View Unread Notifications" />
                                    </div> 
                                    <div class="note-count" style = "width:90px!important"><span class="count"></span></div>
                                    <% Html.RenderAction("NotificationBar", "Notification"); %>
                                </div>
                            </div>
                            <% Html.RenderAction("Search", "Search"); %>
                        <% } %>
                        <div id="UploadDialog"></div>
                    </div>
                <% } %>
                <div id="maincontent-insert"><asp:ContentPlaceHolder ID="MainContent" runat="server" /></div>
            </div>
                 <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server" /> 
            </div>
            
            <div id="footer">
                <div id="whitespace"></div>
                <div id="inner-footer">
                    <div id="Logofooter">
                        <img src="../../Content/more_images/IVIS_Logo_cropped.png" />
                        <p style="text-align:center">2014 - <%: DateTime.Now.Year.ToString() %> IVIS, All Rights Reserved</p>
                    </div> 
                    <div class="footlinks">
                       <%-- <%: Html.ActionLink("Send Feedback", "Index", "Feedback", null, new { id = "feedback" })%> --%> 
                       <%-- <%: Html.ActionLink("Help", "Index", "Help", null, new { id = "help" })%> --%>
                    </div>
                </div>
            </div>      
        </div>
        
    </body>
</html>
