﻿.move-buttons, .group
{
    float:left;
}
.move-buttons
{
    padding-top: 16%;
    padding-right:17px;
}
.m-button
{
    clear: both;
    width: 60px !important;
}
input, .data, .lists, .search-section
{
    float:left;
    clear:left;
}
.lists
{
    height:100%;
}

.data
{
    margin-bottom:20px;
}

.group select
{
    width:180px;
    height:165px;
    overflow-y:auto;
    float:left;
    clear:left;
}

.searching
{
    width:78%;
}

.search-section
{
    margin-bottom:3px;
}

.quick-search-btn
{
    margin-top: -0.5px;
    height: 21px;
}