﻿.functions
{
    min-width:0px !important;
}

.covers
{
    overflow:hidden;
    float:left;
    clear:both;
    width: 99.3%;
    max-height:330px !important;
    position: relative;
}

#page-content
{
    overflow:hidden;
    height:730px;
}

#advanced-search-results
{
    width: 100%;
    position:relative;
}

#filter-tools, #advanced-search-tools
{
    float:left;
    clear:both;
}

#filter-tools
{
    width:100%;
    overflow-x:hidden;
    overflow-y:auto;
    margin-bottom:20px;
}

#companies-dd, #advanced-search
{
    float:left;
    clear:both;
    margin-bottom:5px;
}

.search-btn-adv, .rmbtn
{
    height:26px !important;
    width:26px !important;
    margin-left:0px;
}

.search-btn-adv img
{
    height:14px;
    position:relative;
    bottom:-1px;
}

.rmbtn
{
    position:relative;
    margin-left:2px;
}

#adv-search-form
{
     width:100%!important
}

#advanced-search span, #advanced-search .adv-search-text, .search-btn-adv, #advanced-search #adv-search-form
{
   width:100%!important
}

.adv-search-text
{
    width:190px !important;
}

.adv-search-text.first
{
    margin-left:114px;
}

.adv-search-text, .search-add
{
    text-indent:5px;
}

#more-terms
{
    float:left;
    clear:left;
    margin-top:5px;
    position: relative;
    left: -63px;
}

.adv-search-text.additional
{
}

.adv-search-text, .company_dropdown
{
    margin-left:16px;
    width:217.5px;
}

.adv-search-text, .company_dropdown, .search-add
{
}

.andor, .module
{
    margin-right:5px;
}

.andor
{
    width:56px;
}
.module
{
    width:100px;
}

.search-result:hover .search-headers, .search-result.selected .search-headers
{
    cursor:pointer;
}

.results
{
    max-height:300px;
    width:100%;
}

.scroll-table
{
    overflow:hidden;
    float:left;
    clear:both;
    width: 99.3%;
    max-height:200px !important;
    position: relative;
}

.search-headers:hover
{
    cursor:pointer;
}

.search-headers img
{
    width:20px;
    padding-left:20px;
    padding-top:2px;
}

.search-headers img, .search-headers span
{
    float:left;
}

.search-headers span
{
    color:Black;
}

.search-headers span
{
    font-size:1em;
    padding-left:10px;
    padding-top:5px;
}

.search-headers .category
{
    font-weight:bold;
}

.search-headers .count
{
    font-size: 1em;
    font-style: italic;
}

.search-headers .count
{
    float:right;
}


.results, .search-result
{
    float:left;
    clear:left;
    width:100%;
    overflow:hidden;
}

.termid
{
    visibility:hidden;
    height:0px;
    width:0px;
}

.search-field, #add-search-term, .shortcomp
{
    float:left;
    clear:left;
}

#add-search-term
{
    width:389px !important;
    height:26px;
}

#add-search-term img, #add-search-term span
{
    transform:translateY(25%);
    -webkit-transform:translateY(25%);
}

.andor, .module, .search-add, .rm, .run
{
    float:left;
}

.nores
{
    color:red;
}

.display-field
{
    padding-right:2px;
}

.data.row
{
    padding-left:10px;
    padding-bottom:1px;
}

.unique, .certtype, .compname, .effdate, .expdate, .regno /* CERTIFICATES */
, .start, .end, .polpref, .instype, .polnum /* POLICY */
, .iajid, .compname, .comptype, .trn /* COMPANIES */
, .uname, .name /* USERS */
, .vin, .make, .model /* VEHICLES */
, .alter, .effe, .period, .mancovno
{
    padding-right:15px;
}

.unique, .canc, .canceldate, .period
{
    width:60px;
}
.polpref
{
    width:100px;
}

.compname, .make, .model
{
    width:70px;
}

.comprow.comptype
{
    width:100px;
}

.chassisno
{
    width:180px;
}

.period, .effe
{
    height:15px;
}

.effdate, .expdate, .regno, .polnum, .start, 
.end, .effe, .mancovno, .instype, .exp
{
    width:120px;
}

.uname, .vin, .mancovno
{
    width:200px;
}

.name, .alter
{
    width:150px;
}

.rowveh.regno, .shortveh.menu .regno
{
    width:140px;
}

.polid
{
    width:50px;
}

.iajid, .certtype
{
    width:100px;
}

.compname, .insurance
{
    width:200px;
}

.rowuser, .rowuser a, .certrow, .comprow, .rowuser, .display-field
{
    float:left;
}

.odd
{
    background-color:White;
}

.even, .odd, .menu
{
    color:black;
}

.action
{
    display:none;
    float:left;
}

.action a, .action span
{
    float:left;
}

#add-search-term:hover
{
    cursor:pointer;
}

.fname, .mname, .lname, .trn
{
    width:150px;
}

.ivis-table
{
    width:100%;
}

.menu, .row 
{
    width:98%;
}


.covernoteno
{
    width:100px;
}

.approved, .cancelled
{
    width:50px;
}