﻿.arrow
{
    float:left;
    width: 0; 
	height: 0; 
	margin-left:5px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.right{
	border-top: 8px solid transparent;
	border-bottom: 8px solid transparent;
	border-left: 8px solid #29ABE2;
}

.down  
{
    transform:rotate(90deg); 
    -webkit-transform:rotate(90deg); 
    -moz-transform:rotate(90deg); 
    -o-transform:rotate(90deg); 
}

.arrow.veh
{
    margin-left:4px;
    margin-top:3px !important;
}

.arrow
{
    margin-right:12px;
    margin-top:4px;
}

.arrow-click .arrow
{
    margin-right:0px;
    margin-top:7px;
}