﻿.usage-row
{
    float:left;
    clear:left;
}

.usage-row .usage, .usage-row .action
{
    float:left;
}

.usages.row, .ui-dialog.ui-widget
{
    display:block !important;
    
}


.menu .usageStat
{
    margin-left: 650px;
}

.table-data-usages .usageStat
{
    float: right !important;
    margin-right: 67px;
}

.action
{
    margin-top:-2px;
    margin-left:5px;
}
 
.check-field
{
    float:left;
    clear:left;
}

.check-field div
{
    float:left;
    clear:none;
}

.check-field .editor-label
{
    width:220px;
}

.check-field .editor-field input
{
    width:20px;
}

.icon.activeunderpol:hover
{
    cursor:help;
}

.editor-field
{
    padding-bottom:6px;
}


.icon
{
    margin-top:4px;
}

.deletechanges, .savechanges
{
  width: 49px;
  height: 24px;
    
}

.coverUsagePair
{
    margin-bottom: 15px;
    clear:both;
}

.field-data 
{
    min-height: 330px;
}

.add-dynamic.small.wider
{
    Width: 400px;
}