﻿#maincontent-insert
{
    border-top-left-radius:8px;
    border-top-right-radius:8px;
}

.dashboard-pad
{
    padding:5px;
    overflow:hidden;
}

.menu
{
    margin-left:10px;
}

#dashboard
{
    width: 100%;
    margin-left:auto;
    margin-right:auto;
    overflow:hidden;
}
    
#DashboardHeader
{
    padding-top:5px;
    height:40px;
    width:100%;
    background-color:#58a9e6;
}

#DashboardHeader img, #DashboardHeader span
{
    float: left;
}

#DashboardHeader img
{
    margin-left:6px;
    height:36px;
}

#DashboardHeader span
{
    color: White;
    font-size: 1.5em;
    position: relative;
    left: 5px;
    top: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

#DashboardBody
{
    width: 100%;
    float:left;
    clear:both;
    position:relative;
    
    border-bottom-left-radius:8px;
    border-bottom-right-radius:8px;
}

.container
{
    float:left;
    border:1px solid #b3b3b3;
    padding-bottom: 10px;
    padding-top: 10px;
    margin:10px;
    background-color:#ffffff;
    overflow:hidden;
}

.container.big-covercert
{
    width:89%;
    height:40%;
    margin: 60px;
    padding-top: 3px;
}

.container.big
{
    width:97%;
    height:40%;
    min-height:300px;
}

.container.medium
{
    width:95%;
    height:40%;
}

.container.medium .form-header
{
    width:104%;
}

.datepicker
{
    width:93px!important;
    text-align:center;
}

.date-pickers
{
    position:relative;
    bottom:32px;
    right:50px;
    float:right;
}

.container.small
{
    width:30%;
    min-height:260px;
}

.container.small .form-header .form-header-text
{
    width:83.5% !important;
}

.container.big .form-header .form-header-text
{
    width:92.5% !important;
}

#maincontent-insert
{
    padding:0px !important;
}

.date
{
    width:80px !important;
    text-align:center;
}

/* ENQUIRY STUFF */
.changers
{
    width:67% !important;
    margin-top:10px;
    margin-left:10px;
    float:right;
}

.datebutton, .dateselector
{
    float:left;
}

.dateselector span
{
    font-size:0.9em;
}

.enddate, .startdate
{
    height: 13px !important;
}

.datebutton
{
    margin-left:2px;
    height: 20px;
    font-size:0.8em;
}

.processing
{
    transform:translate(75%,100%);
    -webkit-transform: translate(75%,100%);
    -ms-transform: translate(75%,100%);
    width:400px;
    min-height:100px;
}

.processing span, .processing img
{
    float:left;
    clear:both;
}

.processing span
{
    font-size:2em;
    color:Black;
}

.processing img
{
    margin-top:10px;
    width:80px;
    transform:translateX(100px);
    -webkit-transform: translateX(100px);
}

/* AM CHARTS TWEAKS */

.form-header .cover-filters
{
    float:right;
    position: relative;
    bottom: 32px;
    right:100px;
    
}

.form-header select
{
    width: 80px;
}

.cover-filters span
{
    position:relative;
    top:5px;
}

.import_div
{
    float:left;
}

.import
{
    position:relative;
    top:5px;
}

/* MOVE DATEPICKERS OVER TO SEEM RIGHT ALIGNED ON DASHBOARD */
.xdsoft_datetimepicker
{
    transform: translateX(-61%);
}