﻿#footer, #inner-footer
{
 width: 100% !important;   
}

#main-div, #maincontent, #maincontent-insert
{
    max-width:100% !important;
    margin-left:auto !important;
    margin-right:auto !important;
}

#WelcomeMessage, #instructions
{
    max-width:100% !important;
    margin-left:auto !important;
    margin-right:auto !important;
}