﻿.hover, .active, 
.icon:hover .default,
.icon:hover .active,
.icon:active .default
{
    display:none;
}

.icon:hover .hover,
.icon:active .active
{
    display:inline;
}

.icon:active .hover
{
    display:none;
}

.icon img
{
    height:20px;
}

.icon
{
    float:left;
    /*width:20px;*/
    height:20px;
    z-index:100;
    overflow:hidden;
}

.icon:hover
{
    cursor:pointer;
}

.icon .sprite
{
    /*
    width:20px;
    height:auto;
    */
    width:auto;
    height:60px;
}

.icon:hover .sprite
{
    position:relative;
    top:-20px;
}

.icon:active .sprite
{
    position:relative;
    top:-40px;
}

/*User Phone*/
.phoneheader .icon
{
    position:absolute;
    padding-left:10px;
}