﻿.field-data
{
    min-height:500px;
}

fieldset
{
    float:left;
}

.check
{
    float:left;
    clear:both;
}

.check .editor-label
{
    width:233px;    
}

.check .editor-field input 
{
    width:auto !important;
}

.check .editor-label, .check .editor-field
{
    float:left;
    padding:0px !important;
}

.check-area
{
    overflow:hidden;
    padding-bottom:15px;
}

.check .editor-label, .check .editor-field
{
    float:left;
    clear:none !important;
}

.company
{
    clear:left;
    float:left;
    margin-bottom:10px;
}

.company .company_dropdown
{
    margin-left:5%;
}

.all-user-permission, .move-buttons, .my-user-permission, .modify .group
{
    float:left;
}
.all-user-permission, .move-buttons, .my-user-permission, .modify .group
{
    padding-right:5px;
}

#allpermissions, #mypermissions, #allgroups, #mygroups, #notgroupusers, #groupusers, #notgroups, #groups
{
    width:220px;
    height:165px;
}

.heading, .searching, select, .search-section
{
    clear:left;
    float:left;
}

.move-buttons
{
    float:left;
    position:relative;
    width:60px;
    top:38%;
    margin-right:5px;
}

.add-button, .rm-button
{
    clear:both;
    width: 60px !important;
}

.permissions, .groups, .modify
{
    width:100%;
    height:230px;
    float:left;
    margin-top:15px;
}

.submitbutton
{
    color: #fff;
    -moz-border-radius: 8px;
    border-radius: 8px;
    height: 25px;
    width: 100px;
}

.hide
{
    visibility:hidden;
    height:0px;
}

.search-section
{
    padding-bottom:2px;
}

.searching
{
    width:192px;
}

.quick-search-btn
{
    height:21px;
    margin-left:0px;
}

.quick-search-btn.safari
{
    height:22px;
    margin-top: 2px;
}

.heading
{
    font-size:0.9em;
    word-wrap:break-word;
    width:200px;
}


.server-responses
{
    position: absolute;
    top: 222px;
    right:104px;
    opacity: 0.7;
    overflow:hidden;
    max-height:400px;
}

.success-message,
.error-message,
.remove-message
{
    min-width:123px;
    max-width:220px;
    min-height:25px;
    max-height:50px;
    color:White;
    border-radius:3px;
    text-align:center;
    float:left;
    clear:both;
    margin-bottom:5px;
    padding:8px;
    font-size:0.75em;
    font-weight:normal;
}

.success-message
{
    background-color:Green;
}

.error-message
{
    background-color:Red;
}

.remove-message
{   
    background-color:#A8003B;
}