﻿
#search
{
    float:left;
    padding : 1px;
    position: relative;
    margin-left: 20px;
    height: 25px;
    text-indent: 5px;
    border-top-left-radius:3px;
    border-bottom-left-radius:3px;
    border: 0px solid #CCC;
}

.gen-search
{
    float:right;
    margin-left: 45px;
    height: 30px;
    position:relative;
    top:4.25px;
    right:4.25px;
}

.gen-search input:focus
{
    outline:none;
}

#gen-search-submit
{
    float:left;
    margin-left: 0;
    padding : 1px;
  
    border:0;
    border-top-right-radius:3px;
    border-bottom-right-radius:3px;
    background-color:#8cc63f;
    
    width:34px;
    height: 27px;   
}


#gen-search
{
    height:30px;
    width:250px;
}

#search-help
{
    height:25px;
    width:25px; 
    float:left;
    padding-top : 1px;
    margin-left: 0;
}

#search-help img
{
    position:relative;
    top:20%;
    left:10%;
}

#help-text
{
    display:none;
    position:absolute;
    margin-left:280px;
    float:left;
    background-color:Yellow;
    width:200px;
    margin-top: 15px;
}

#search-help:hover + #help-text
{
    display:block;
}

#advSearch
{
   float: left; 
   margin-top: 22px;
   margin-left: 120px;
   position: absolute;
   
}

#advSearch a
{
    color:#000000;
    
}

/************************* Search In Modals **********/


#searchModal
{
    float:left;
    padding : 1px;
    position: relative;
  /*  border-radius: 5px;*/
    margin-left: 20px;
    height: 29px;
    text-indent: 2px;
    
    border-top-left-radius:5px;
    border-bottom-left-radius:5px;
    
    border-top: 1px solid #000000;
    border-left: 1px solid black;
    border-bottom: 1px solid #000000;
    
}

#search-submit
{
    float:left;
    margin-left: 0;
    padding : 3px;
  
    border:0;
    border-top-right-radius:5px;
    border-bottom-right-radius:5px;
    
    border-top:1px solid black;
    border-bottom:1px solid black;
    border-right:1px solid black;
    background-color:#29abe2;
    
    width:27px;
    height: 24.5px;   
    
}

/*******************************************/
#roleManSearch
{
    float:left;
    margin-left: 0;
    padding : 1px;
  
    border:0;
    border-top-right-radius:5px;
    border-bottom-right-radius:5px;
    
    border-top:1px solid black;
    border-bottom:1px solid black;
    border-right:1px solid black;
    background-color:#29abe2;
    
    width:37px;
    height: 33px;   
    
}
