﻿/*----------------------------------------------------------
The base color for this template is #5c87b2. If you'd like
to use a different color start by replacing all instances of
#5c87b2 with your new color.
----------------------------------------------------------*/
.SelectedPeriod
{
   background:yellowgreen;
}


#MyTable
{
    border:none!important;
}

#MyTable table
{
    border:none!important;
}

#MyTable table tr
{
    border:none!important;
}

#MyTable table > tr > td
{
    border:0!important;
}



.Sha
{
    border-radius: 2px;
    color: #ffffff !important;
    font-size: 16px !important;
    line-height: 14px;
    padding: 6px 20px 6px 20px;
    text-decoration: none;
    height: 28px !important;
    margin-right: 5px;
    background: #3498db !important;
    background-color: #3498db !important;
    background-repeat: repeat !important;
    background-attachment: scroll !important;
    }

.search-box
{
    position: absolute;
    right: 70px;
}

.push-left
{   
    margin-left:40px;
}


#vehiclesListSelect .row .effectiveDate .effective, 
#vehiclesListSelect .row .expiryDate .expiryPicker
{
    width:150px;   
    text-indent:5px; 
}

.subheader:hover
{
    cursor:pointer;
}

.valid
{
    float:right;
    width:auto;
}

.valid img, .valid div
{
    float:right;
}

.valid-message, .invalid-message
{
    font-size:0.7em;
    line-height:21px;
}

.valid-message
{
    color:Green;
}

.invalid-message
{
    color:Red;
}

:required, input.bad
{
    outline:Red solid thin;
}

:required::-webkit-input-placeholder {
   color:grey;
}

.ok:required
{
    outline:none;
}

.ok:required::-webkit-input-placeholder {
   color:Black;
}

.int-check
{
    float:right;
}

.century-gothic{
    font-family:'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
}

.box-shadow
{
    box-shadow: 0px 4px 19px -2px rgba(0,0,0,0.6);
    border: 1px solid #B3B3B3;
}

.tiny-box
{
    width: 270px;
    height: 270px;
    margin-left: auto;
    margin-right: auto;
    background-color: #EAEAEA;
    color: #000;
    position:fixed;
    top: 30%;
    left:50%;
	transform:translateY(-50%);
	transform:translateX(-50%);
	-webkit-transform:translateX(-50%);
    text-indent: 7px;
}

#reset-form
{
    width: 350px;
    height:430px;
}

#print-label
{
    width: 100px;
}

.tiny-box .heading
{
    background-color: #515151;
    height:  45px;
    color: #ffffff;
    width: 270px;
    position:relative;
    /*top:10px;*/
}

.tiny-box .info
{
    transform:translateX(15%);
    -webkit-transform:translate(15%);
}

.tiny-box-field, .tiny-box-btn
{
    height: 27px;
    text-indent: 7px;
    width: 170px !important;
    border: solid thin #666;
    margin-bottom: 0 !important;
}

.tiny-box-field.top
{
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

.tiny-box-field.bottom
{
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

.tiny-box-btn
{
    margin-top:45px;
    border-radius:3px;
}



.imported
{
    float:right!important;
}



.imported span
{
    font-size: 1em;
    color: white;
}

.tooltip
{
    font-size:0.7em;
    border:1px solid #29abe2;
    color:black;
}

html, body
{
    height:100%;
}

body
{
    min-width: 1056px;
    font-family: Verdana, Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
    color:Black;
}

a:link
{
    color: #034af3;
    text-decoration: underline;
}
a:visited
{
    color: #505abc;
}
a:hover
{
    color: #1d60ff;
    text-decoration: none;
}
a:active
{
    color: #12eb87;
}

p, ul
{
    margin-bottom: 20px;
    line-height: 1.6em;
}

/* HEADINGS   
----------------------------------------------------------*/
h1, h2, h3, h4, h5, h6
{
    font-size: 1.5em;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
}

h1
{
    font-size: 2em;
    padding-bottom: 0;
    margin-bottom: 0;
}
h2
{
    padding: 0 0 10px 0;
}
h3
{
    font-size: 1.2em;
}
h4
{
    font-size: 1.1em;
}
h5, h6
{
    font-size: 1em;
}

/* this rule styles <h2> tags that are the 
first child of the left and right table columns */
.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2
{
    margin-top: 0;
}

/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

/* you can specify a greater or lesser percentage for the 
page width. Or, you can specify an exact pixel width. */
.page
{
    width: 100%; 
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
}

#header
{
    z-index:99;
    /*padding-top:38px;*/
    height:80px;
    position: relative;
    /* Safari 5.1, Chrome 10+ */
    background: -webkit-linear-gradient(top, #F4F4F4,#D3D3D3);
    /* Firefox 3.6+  */
    background: -moz-linear-gradient(top, #F4F4F4,#D3D3D3);
    /* IE 10  */
    background: -ms-linear-gradient(top, #F4F4F4,#D3D3D3);
    /* Opera 11.10+  */
    background: -o-linear-gradient(top, #F4F4F4,#D3D3D3);
    /* IE6-9 */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F4F4F4', endColorstr='#D3D3D3',GradientType=1 ); 
    /*
    position:relative;
    top:5%;
    */
}

.selfline
{
    color:Black;
}

span.green
{
    color:#00924f;
}

#header-content
{
    margin-left: auto;
    margin-right: auto;
}

#IconContainer
{
    height:38px;
    width:165px;
    float: left;
    padding-left: 10px;
    border:0px;
}

#ivis-icon-header
{
    position:absolute;
    top:25%;
}

#selfdata
{
    float: right;
    padding-right: 20px;
    height: 30px;
    position: relative;
    font-size:0.75em;
}


.selfline span
{
    color:#00924f;
}


#header h1
{
    font-weight: bold;
    padding: 5px 0;
    margin: 0;
    color: #fff;
    border: none;
    line-height: 2em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px !important;
}

#main-div
{
    background-color: #e6e6e6;
    margin-left: auto;
    margin-right: auto;
    overflow-y:hidden;
    padding-bottom:30px;
    position:relative;
    top:-19px;
}

#maincontent, #menucontainer
{
    width: 100%;
    /*background-color: #cccccc;*/
}

#maincontent-insert
{
    clear:left;
    margin-top:30px;
    margin-bottom:60px;
    background-color: white;
    width: 930px;
    margin-left: auto;
    margin-right: auto;
    height:100%;
    border:1px solid #808080;
    padding:10px;
    overflow:hidden;
}
.profilelink
{
    float:right;
    
    margin-left: 3px !important;
}

#feedback, #help
{
    color:#1ab4d7; /*   #30a4e0;*/
    text-decoration:none;
    font-size:1.2em;
    float:right;
    padding-right:1%;
    
}

#inner-footer
{
    position:relative;
    color: #999;
    clear:both;
    text-align: center;
    line-height: normal;
    /*font-size: .9em;*/
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    
}

#footer
{
    background-color: #707070;
    bottom:0px;
    position:fixed;
    /*
    min-width:1056px;
    transform: translateX(-50%);
    -webkit-transform:translateX(-50%);
    left:50%;
    */
    width:100%;
    
}

#whitespace
{
    width:100%;
    height:10px;
    float:left;
    clear:both;
    background-color:White;
}

#footer, #inner-footer
{
       
}

#Logofooter
{
    height:100%;
}

#Logofooter img
{
    padding-left: 10px;
    padding-top: 5px;
    height:25px;
    float: left;
}

#Logofooter span
{
    padding-top:2px;
    float: left;
    margin-left:1%;
    color: white;
    transform: translateY(50%);
    -webkit-transform:translateY(50%);
}

#Logofooter span, #help, #feedback
{
    font-size:0.75em;
}

/* TAB MENU   
----------------------------------------------------------*/
ul#menu
{
    position:relative;
    background-color: #29abe2;
    font-size:13px;
    font-family: Sans-Serif;
    left:-30px;
}


.block
{
    width:5px;
    height:40px;
    background-color:#29abe2;
    z-index:999;
    position:relative;
    left:100%;
}


ul#menu li
{
    display: inline;
    list-style: none;
    float:left;
    
}

ul#menu li#greeting
{
    padding: 10px 20px;
    font-weight: bold;
    text-decoration: none;
    line-height: 2.8em;
    color: #fff;
}

ul#menu li a, .menuheading
{
    padding: 10px;
    font-weight: bold;
    text-decoration: none;
    line-height: 2.8em;
    background-color: #29abe2;
    color: #ffffff; 
}

.menuheading:hover
{
    cursor:default;
}

ul#menu ul
{
   display: none;
   
}

ul#menu li:hover ul
{
   display: block;
}

ul#menu li ul li:hover .block
{
    background-color:#d9e021;
}

ul#menu li ul
{
    width: 170px;
    bottom:auto;
    position: absolute;
    padding: 0px;  
    z-index:100;
}

ul#menu li ul li a
{
    text-align: left;
    color: #000000;
    display: block;
    height: 20px;
    background-color: #f2f2f2;
    width: 180px;
    float: left;
    padding-left: 10px;
}

ul#menu li ul li 
{
    width: 200px;
}

li ul li:hover , li ul li a:hover 
{
   background-color: #707070 !important;
   color: #fff !important;
}


/* FORM LAYOUT ELEMENTS   
----------------------------------------------------------*/

#form-header, #page-title, .form-header
{
    font-family: Arial, Helvetica, sans-serif;
    float: left;
    clear: both;
    width:100%;
}

span#filter-id
{
    float:right;
    margin-right: 10px;
    font-weight: normal;
    font-size: medium;
}

.form-header
{
    width: 99.7%;
}

.filter-div
{
    float: right;
}

.form-header-text
{
    font-size:1.125em;
    padding-top:14px;
   
}
.form-text-links
{
    width:94%;
    height:35px;
}

#form-header img, #page-title img, .form-header img
{
    height:40px;
}

#form-header img, #page-title img, .form-header-text
, .subheader img, .subheader span, .form-header img,
.form-header span, .form-text-links
{
    float:left;
    margin-left:5px;
}

.subheader .subtext
{
    margin-left:0px;
}

.subheader
{
    width:100%;
    font-size:1.125em;
    margin-bottom:10px;
    clear:both;
    float:left;
}

.subheader img
{
    height:20px;
}

.subheader img, .subheader span
{
    float:left;
}

.red
{
    color:Red;
}

.form-text-links, .subheader
{
    border-bottom: 4px solid #29abe2;
}

.field-data
{
    float:left;
    clear:left;
    width:840px;
    margin-left:48px;
    margin-top:20px;
    min-height:300px;
}

.index-search
{
    clear:both;
    float:right;
}

.line .index-search
{
    margin-right:16px;
}

#LinkSections
{
    width: 500px;
    overflow: visible;
    position:absolute;
    top:150px;
    right:0px;

}

#LinkSectionsRight
{
   /* width: 500px;*/
    overflow: visible;
    position:absolute;
    top:150px;
    margin-left:733px;
}

.LinksClass 
{
  font-size: 1em;
  border: 1px solid #000000;
  height: 57px;
  width: 200px;
  text-align: left;
  float: left;
  margin-bottom: 10px !important;
  clear: both !important;
    
}

.LinksClass a
{
  font-size: 0.8em !important;
  color: #000000 !important;
  margin-left: 10px;
  text-decoration:none;
}

.LinksClass a:hover
{
  color: #29abe2 !important;
}

.linksHeadings
{  
    font-size:1em;
    background-color: #707070; 
    color: #ffffff; 
    text-indent: 10px; 
    height:23px; 
}

#NoContacts
{
    height: 200px;
    margin-top: 100px;
}

.editor-field
{
    padding-bottom: 6px; /*15px;*/
} 

input[type="text"] , input[type="password"] 
{
    width:200px;
    margin-bottom:10px;
}

.editor-field input ,.editor-field select
{
    height: 15px;
    padding: 0;
    font-size:0.875em;
    text-indent: 3px;
    width: 250px;
} 

.editor-field input[type="checkbox"]
{
    width:30px;
}

.editor-field select
{
    float:left;
    clear:both;
    margin-bottom:15px;
    height:24px;
}

.TextArea
{
   font-size:1.3em;
   text-indent: 3px;
   border-radius: 4px;
   -moz-border-radius: 4px;
   width: 325px;
   height: 100px;
}

.editor-label
{
    font-size:1em;
    clear: both;
    padding-bottom:3px;
}


.editor-label span
{
    color: red;
}


.error
{
    clear:both;
}

.check-div
{
    width:100%;
    float:left;
    clear:left;
}

.check-div div
{
    float:left;
    clear:none;
}

select
{
    width: 200px; 
    height:26px;
    padding: 0;
    font-size:0.875em;
    border: 1px solid #CCC;
}

::-webkit-input-placeholder {  font-style:italic; }
::-moz-placeholder { font-style:italic; } /* firefox 19+ */
:-ms-input-placeholder { font-style:italic; } /* ie */
input:-moz-placeholder { font-style:italic; }

fieldset 
{
    border-width:0px;
    padding:0px;
    margin:0px;
    float:left;
    width:100%;
}

legend 
{
    font-size: 1.1em;
    font-weight: 600;
    padding: 2px 4px 8px 4px;
}

input[type="text"], input[type="password"] 
{
    min-height: 22px;
    border: 1px solid #CCC;
}


.headingDisplay
{
    height: 30px;
    font-weight: bold;
    color: Red;

}

/* TABLE
----------------------------------------------------------*/

table 
{
  border: solid 1px #e8eef4;
  border-collapse: collapse;
}

table td 
{
  padding: 5px;   
  border: solid 1px #e8eef4;
}

table th
{
  padding: 6px 5px;
  text-align: left;
  background-color: #e8eef4; 
  border: solid 1px #e8eef4;   
}

.selectedSection
{
  max-height: 150px;
  overflow: hidden;
  clear: both;
  position: relative;
}

.rowNone
{
    margin-top:20px;
    font-weight:bold;
}


/* MISC  
----------------------------------------------------------*/
.clear
{
    clear: both;
}

.error
{
    color:Red;
}

#menucontainer
{
    /*width: 1000px ;*/
    margin-left: auto ;
    margin-right: auto ;
    padding: 0;
    margin-top:0px;
    background-color: #29abe2;
    height: 36.364px;
    overflow:visible;
}

div#title
{
    display:block;
    float:left;
    text-align:left;
}

#logindisplay
{
    font-size:1.1em;
    display:block;
    text-align:right;
    margin:10px;
    color:White;
}

#logindisplay a:link
{
    color: white;
    text-decoration: underline;
}

#logindisplay a:visited
{
    color: white;
    text-decoration: underline;
}

#logindisplay a:hover
{
    color: white;
    text-decoration: none;
}

#Companysetting
{
    border: 1px solid #707070;
    background-color: #EAEAEA;
    text-indent: 4px;
    margin-right: 50px;
    padding-top: 7px;
    
}

#companyLinks
{
    margin-left: 80px;
}

button, input[type="button"], input[type="submit"], button
{
    background-color: #29abe2;
    color: #fff;
    height: 24px;
    font-size: 0.8em;
    /*line-height: 27px;*/
    cursor:pointer;
    /*margin-left:3px;*/
    border:0;
    /*padding-left:7px;*/
}

input[type="button"]:hover, button:hover
{
    background-color: #8cc63f;
    color: black;
}

button:disabled, input[type="button"]:disabled,input[type="submit"]:disabled
{
    background-color: #808080;
    color: #fff;
    cursor: auto;
}

.requestPrint
{
    background-color: #29abe2;
    color: #fff;
    -moz-border-radius: 4px;
    border-radius: 4px;
    height: 25px;
    width: 140px; 
}

/*#reqApproval
{
    background-color: #29abe2;
    color: #fff;
    
    -moz-border-radius: 4px;
    border-radius: 4px;
    height: 25px;
    width: 150px; 
}*/

#notUnderAPol
{
    height: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
}

.btnlinks
 {
    float:right;
    clear:both;
    width:100%;
    margin-top:20px;
    margin-bottom:10px;
 }
 
 
 .btnlinks button, .BtnSpecial,  .btnlinks input[type="button"], .btnlinks input[type="submit"], .ui-dialog-buttonset button, .ui-dialog-buttonpane button {
    background-position: 0% 0%;
    background-image  : linear-gradient(to bottom, #3498db, #2980b9) !important !important;
    -webkit-border-radius: 2;
    -moz-border-radius: 2;
    border-radius: 2px;
    color: #ffffff !important;
    font-size: 16px !important;
    line-height: 14px;
    padding: 6px 20px 6px 20px;
    text-decoration: none;
    height:28px !important;
    float:right;
    margin-right:5px;
    background: #3498db !important;
    background-color: #3498db !important;
    background-repeat: repeat !important;
    background-attachment: scroll !important;
}

.btnlinks button:hover, input[type="submit"]:hover,.ui-dialog-buttonset button:hover, .ui-dialog-buttonpane button:hover
{
    background-position: 0% 0%;
    background:##3cb0fd !important;
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db) !important;
    text-decoration: none;
    background-color: #3cb0fd !important;
    background-repeat: repeat !important;
    background-attachment: scroll !important;
}



.btnlinks a:hover, .btnlinks1 a:hover, .btnlinks2 a:hover, .btnlinks3 a:hover, .btnlinks4 a:hover
{
    cursor:pointer;
    color:White !important;
}

.doneButton
{
    float: right;
    padding-right: 5px;
    padding-top:4%;
    padding-bottom: 70px;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error, .passRules
{
    color: #ff0000;
   /* float:left; */
    clear:both;
    padding-bottom:10px;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}

/* Styles for editor and display helpers
----------------------------------------------------------*/
.display-label,
.editor-label,
.display-field,
.editor-field
{
   /* margin: 0.5em 0;*/
}

.text-box
{
    width: 30em;
}

.text-box.multi-line
{
    height: 6.5em;
}

.tri-state
{
    width: 6em;
}

/*********** STYLING FOR DIALOG BOXES ***************/

.ui-dialog {
    /*background: #F4F4F4 !important;*/
    background: White !important;
    color: #000000;
    padding:0 !important;
    border: none !important;
}

.ui-widget-content
{
    background:White !important;
    border:none !important;
}

.ui-widget-header 
{
    border: none !important;
    height: 40px !important;
    
    
   /* Safari 5.1, Chrome 10+ */
  background: -webkit-linear-gradient(right, #56A5EC,#B0E2FF) !important;

  /* Firefox 3.6+ */
  background: -moz-linear-gradient(left, #56A5EC,#B0E2FF) !important;

  /* IE 10 */
  background: -ms-linear-gradient(left, #56A5EC,#B0E2FF) !important;

  /* Opera 11.10+*/
  background: -o-linear-gradient(left, #56A5EC,#B0E2FF) !important;
}


.ui-button-icon-only  /*dialog close button*/
{ visibility: hidden !important;
}

.ui-button-icon-secondary
{
     background: #56A5EC !important;
}

.ui-dialog-title
{
  height: 30px !important;
  font-size: 2em;
  font-weight: normal !important;
}

/* FOR AUTO SEARCH TEXT BOXES */

.quick-search-btn
{
    background-color: #8cc63f;
    width:24px;
    height:26px;
}

.quick-search-btn img
{
    margin-left:-2px !important;
    height:13px !important;   
}

.quick-search, .quick-search-btn 
{
    float:left;
    
}
.quick-search, select
{
    text-indent:5px;
}

.btnclr {background-color: #29abe2;}
.italic {font-style:italic;}

/* JQUERY MODS 8 */

.ui-autocomplete.ui-widget {
  font-family: Verdana,Arial,sans-serif;
  font-size: 0.75em;
}

.ui-button-text-only .ui-button-text
{
    padding:0px;
    line-height:10px;
}

.ui-dialog /* .ui-dialog-content*/ {font-size:0.85em;}

/*.ui-dialog .ui-dialog-buttonpane */
/*.ui-dialog-buttonset*/

/* chosen edits */

.chosen-container{width:250px !important;}
.create1{float:right!important;}
.createL{float:left!important;}
.Spaced{padding-top:15px}

.format
{
    font-style:italic;
    font-size:0.6em;
    color:Gray !important;
}

span.update-count{
    float: right;
    font-style: italic;
    font-size: 0.8em;
    color: gray;
}

.modalSearch
{
    text-indent:5px;
}


.ui-dialog.ui-widget
{
    position:fixed;
}


.stripes
{
    position:relative;
    top:-10px;
    background-image:url(../../Content/more_images/StipeBar.png);
    height:6px;
    
    border-bottom:3px solid white;
    background-color:#f2f2f2;
}


/*Menu links in various pages */

ul#menu-links
{
    position:relative;
    background-color: #29abe2;
    font-size:13px;
    font-family: Sans-Serif;
}


ul#menu-links li
{
    display: inline;
    list-style: none;
    float:right;
}

ul#menu-links li a, .menu-links-heading
{
    padding: 10px;
    font-weight: bold;
    text-decoration: none;
    line-height: 2.8em;
    background-color: #29abe2;
    color: #ffffff; 
    font-size: 0.9em;
}

.subheader ul#menu-links li .menu-links-heading
{
    padding: 4px;
    margin-top:1px;
}

.subheader ul
{
    margin:0px;
}

.menu-links-heading
{
    line-height:normal;
}

.menu-links-heading:hover
{
    cursor:pointer;
    background-color: #8cc63f;
    color: black;
}


ul#menu-links ul
{
  display: none;
}

ul#menu-links li:hover ul
{
   display: block;
}


ul#menu-links li ul
{
    width: 72px;
    position: absolute;
    padding: 0px;  
    z-index:100;
}

.subheader ul#menu-links li ul
{
    top:-12px;
}

ul#menu-links li ul li a
{
    text-align: left;
    color: #000000;
    display: block;
    height: 20px;
    background-color: #f2f2f2;
    width: 180px;
    float: left;
    padding-left: 10px;
}

ul#menu-links li ul li 
{
    position:relative;
    /*top:37px;*/
    top:6px;
    left:10px;
    width: 200px;
}

.subheader ul#menu-links li ul li
{
    top:37px;
}

/* END menu links */

.validate-section
{
    float:left;
    clear:both;
    width:100%;
}

/*Quick-List Design */

.quick-list-header
{
    
    margin-left:10px;
    width:96.1%;
    font-size:1 em;
    padding:10px 0px 10px 6px;
    background-color:#0071bc;
    color: #ffffff;
    font-size:1.2em;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
}

.mycompany
{
    width: 75px;
    float:left;
    margin-left:350px;
}

.quick-list-company
{
    
    background-color:#58a9e6;
    color: #ffffff;
    height:25px;
    width:96.8%;
    padding-top:10px;
    margin-left:10px;
    font-size:1.1em;
}

.quick-list-footer
{
    margin-left:10px;
    width:863px;
    background-color:#0071bc;
    height:25px;
    float:left;
    border: 1px solid #73777c;
}


/** SPINNER CODE FOR PROCESSING **/
.tempmessage
{
    width:300px;
    height:200px;
    margin-left: auto;
    margin-right: auto;
    transform: translateY(160%);
}

.tempmessage img
{
    height:100px;
    position:relative;
    left:75px;
}

.tempmessage span
{
    font-size:2.5em;
    color:White;
    font-weight:bold;
    text-align:center;
}

.tempmessage img, .tempmessage span
{
    float:left;
    clear:both;
}

/** Open all sections Icon **/
.open-sections{
    cursor:pointer;
    overflow:hidden;
}

.form-text-links .icon
{
    float:right;
    margin-top:10px;
    margin-right:10px;
}
.form-text-links .menu-click .icon
{
    float:left !important;
}

.form-text-links .icon img
{
    width:20px;
    height:60px!important;
}

.form-text-links .icon img.open
{
    position:relative;
    top:-40px!important;
}

.open-sections.withlinks 
{
  float:left !important;
  position:absolute;
}

.menu-click
{
    float:right;
}

/*User Phone */

.phone .newphone
{
    padding-top:10px;
}
.phones
{
    padding-left:20px;
}
.phones .subheader
{
    width:255px;
}
.phones .subheader .remove
{
    float:right;
}
.editButton:not(.editPolicyButton)
{
    position:relative;
    bottom:1px;
    right:6px;
    }
    
    
    
  
    
    
    .Approval
    {
      padding:7px;
      color:#fff;
      background-color:#8bc34a;
    }
    
    
    .NotApproval
    {
      padding:7px;
      color:#fff;
      background-color:#b70000;
    }


.form-control {
    display: block;
    width: 100%!important;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}



.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}


input[type=reset], input[type=submit], button, html input[type=button] {
    -webkit-appearance: button;
}
button, input[type="button"], input[type="submit"], button {
    background-color: #29abe2;
    color: #fff;
    /* height: 24px; */
    font-size: 0.8em;
    /* line-height: 27px; */
    cursor: pointer;
    /* margin-left: 3px; */
    border: 0;
    /* padding-left: 7px; */
}


     .CoverStatus
    {
        width:90%;
        margin:auto!important;
        padding:10px!important;
        min-height:390px;
        padding-left:8px;
    }
    
#MySearch
{
    height: 100%;
    text-indent: 7px;
    width:95%;
    border: none;
    margin: 3%;
   
}

.Covered
{
    max-height:150px;
    background-repeat:no-repeat; background-position:center;
}

#subbtn2
{
    margin-right: 80px !important;
    -moz-border-radius: 4px;
    border-radius: 4px;
    min-height: 37px;
   width: 100%; 
    border: 2px thin #696969 !important;
    padding: 0 !important;
    
}


.hiddenFields{ display:none;}


.HideArea{

display:none;

}


.ShowArea{

display:none;

}


#advanced-search
{
    width:96%!important
}



.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.btn-success {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}

.btn-info {
    color: #fff;
    background-color: #56a5ec;
    border-color: #56a5ec;
}

.btn-primary {
    color: rgb(255, 255, 255);
    background-color: rgb(51, 122, 183);
    border-color: rgb(46, 109, 164);
}

btn-warning {
    color: rgb(255, 255, 255);
    background-color: rgb(240, 173, 78);
    border-color: rgb(238, 162, 54);
}

.btn-danger {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}

.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.btn-group-xs>.btn, .btn-xs {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

btn-group-sm>.btn, .btn-sm {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}
.btn-group, .btn-group-vertical {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

a{text-decoration:none!important;}
