﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Views/Shared/Site.Master" AutoEventWireup="true" CodeBehind="IllegalActivity.aspx.cs" Inherits="Honeysuckle.Custom.IllegalActivity" %>

<asp:Content ID="Content1" ContentPlaceHolderID="TitleContent" runat="server">
    
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="jscss" runat="server">
    <style type="text/css">
        .StopImage
        {}
    </style>
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="MainContent" runat="server">
    <link href="CustomSheet.css" rel="stylesheet" type="text/css" />
    <form id="form1" runat="server">
    <div class="StopSign"><h1>Illegal activities suspected</h1></div>
    <div class="StopSign">
        <asp:Image ImageUrl="~/images/stopx.png" CssClass="StopImage" ID="Image1" 
            runat="server" Height="205px" Width="351px" />
    </div>
    </form>
</asp:Content>
<asp:Content ID="Content4" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
</asp:Content>
