﻿<%@ Control Language="C#" Inherits="System.Web.Mvc.ViewUserControl<Honeysuckle.Models.Company>" %>

    <% using (Html.BeginForm()) {%>
        <%: Html.ValidationSummary(true) %>
          
          
           <div class="subheader"> Company Information </div>
            <%: Html.Hidden("editingPolCompany", false, new { id = "editingPolCompany", @class = "dont-process" })%>
            <div class="editor-label">
                 TRN
            </div>
            <div class="editor-field"><div class="foreign-div" style="float: left; width:30%;">
                <span class="foreign-id-label" style="font-size:0.8em; width:30%;">Foreign ID</span>
                <%: Html.CheckBox("foreignID", false, new { id = "foreignIDCheck", style = "float: right;" })%> 
             </div>  
               
              <div class="foreign-div" style="float: left; width:30%;">
               <span class="foreign-id-label" style="font-size:0.8em; width:30%;">No TRN</span>
                <%: Html.CheckBox("noTRN", false, new { id = "noTRN", style = "float: right;" })%> 
              </div>
                <%--<div style="float: left; width:30%;"  class="foreign-div" >
                <span class="foreign-id-label" style="font-size:0.8em;">Foreign ID</span>
                
               <%: Html.CheckBox("foreignID", false, new { id = "foreignIDCheck", style = "float: right;" })%> 
            </div> --%>
                <%: Html.TextBoxFor(model => model.trn, new { id = "trn", @required = "required", @PlaceHolder= " Eg. 088776655", @class="company-trn"})%>
                <%: Html.ValidationMessageFor(model => model.trn)%>
            </div>
            
            <div class="editor-label">
               Company Name
            </div>
            <div class="editor-field">
                <%: Html.TextBoxFor(model => model.CompanyName, new { id = "CompanyName", @required = "required" })%>
                <%: Html.ValidationMessageFor(model => model.CompanyName) %>
            </div>
           
        <br />
           <div class="subheader"> Company Address </div>
            
            <% Html.RenderAction("Address", "Address"); %>
           
        <script src="../../Scripts/ApplicationJS/TestCompanyTRN.js" type="text/javascript"></script> 
        <script src="../../Scripts/ApplicationJS/addressManagement.js" type="text/javascript"></script>

    <% } %>

   

