﻿<%@ Control Language="C#" Inherits="System.Web.Mvc.ViewUserControl<IEnumerable<Honeysuckle.Models.Vehicle>>" %>

<%: Html.DropDownList("vehicles", new SelectList(Model.ToList(), "ID", "chassisReg"), new { @class = "vehicles_dropdown" })%> 