﻿.kpi-box
{
  float: left;
  margin-right: 1.5%;
  margin-bottom: 1.5%;
  position: relative;
}

.kpi-data
{
    width:30%;
    float:left;
    margin-left:16px;
    margin-top:10px;
}

.kpi
{
    width:250px;
    float:left;
    clear:none;
    border:1px solid #b3b3b3;
    padding:5px;
    margin-right:5px;
}

.kpi .stuff
{
    float:left;
    clear:both;
    width:100%;
    margin-top:2.5px;
    margin-bottom:3px;
}

.kpi-line
{
    margin-left: 20px;
}

.kpi-line span
{
    font-size: 0.85em;
}

.kpi .stuff span
{
    float:left;
}

.kpi-count
{
    float:right;
    margin-right:10px;
}

.kpi-count input
{   
    float:left;
    margin-right:5px;
    width:50px;
    text-align:center;
    margin-bottom:0px;
}

.kpi-count span
{
    font-style:italic;
    font-size:0.7em;
    color:Gray;
    padding-top:5px;
    margin-right:2px;
}

.header-kpi {
  width: 262px;
  min-height: 20px;
  background-color:#3cb0fd;
  border-radius: 5px 5px 0px 0px;
}

.header-kpi-value
{
    float:right;
    margin-right:60px;
     color:#ffffff;
}

.header-kpi-name
{
    margin-left: 15px;
    color:#ffffff;
}


.stripes
{
    position:relative;
    top:-5px;
    left:-2%;
    width:104%;
    background-image:url(../../Content/more_images/StipeBar.png);
    height:6px;
    border-bottom:3px solid white;
    background-color:#f2f2f2;
}

.btnlinks.kpi-page
{
    float:right !important;
    margin-right:-40px;
}
/*
.yellow
{
    color:#da5400;
}
.green
{
    color:#0b8253;
}
#count.red
{
    color:#f60000 !important;
}
*/
.color-boxes
{
    margin-left: 10px;
    width: 5px;
    height: 25px;
    float:left;
}

.yellow.color-boxes
{
    background-color:#da5400;
}
.green.color-boxes
{
    background-color:#0b8253;
}
.red.color-boxes
{
    background-color:#f60000;
}
.count.red
{
    color:#000000 !important;
}