﻿.partial-header
{
    margin-left:10px;
    height: 30px;
    width: 94%;
    border-bottom: 3px solid #949494;
}

.partial-header img, .partial-header span
{
    float:left;
}

.partial-header img
{
    height:25px;
}

.partial-header span
{
    font-size:1.2em;
    font-family: Arial, Helvetica, sans-serif;
    position:relative;
    top:10px;
    left:3px;
    font-weight:bold;
}

.company
{
    float:left;
    clear:left;
    color:Black;
}

.company .item
{
    float:left;
    height:20px;
    padding-right:5px;
}

.name, .email,.phone
{
    width: 160px;
    padding-left:10px;
    margin-right:10px;
}

.short
{
    width: 50px;
    margin-right:5px;
}

.type
{
    width: 80px;
}

.address
{
    width: 150px;
}

.contact
{
    width:150px;
}


.btns
{
    float:right;
    position:relative;
    right:15px;
}

.company.menu .item, 
.covercert.menu .item
{
    cursor:pointer;
}

.mine
{
    margin-left:10px;
    background-color:#8cc63f;
}

.company .functions 
{
    left:86% !important;
}

.mine .functions
{
    margin-left:-10px;
}

#legend
{
    padding-left:20px;
    clear:both;
}

#legend .key
{
    width:12px;
    height:12px;
}
.key.myCompany
{
    background-color: #8cc63f;
    position: relative;
    left: 118px;
    bottom: 13px;
}
.key.disabledCompany
{
    background-color: #950011;
    position: relative;
    left: 360px;
    bottom: 45px;
}

.companykey.disabled
{
    position: relative;
    left: 180px;
    bottom: 30px;
}