﻿/*.functions
{
    min-width:0px !important;
}

#all-data-content
{
    width: 100%;
    position:relative;
}
.data-result:hover,.data-headers,.data-result.selected .data-headers,.data-headers:hover
{
    cursor:pointer;
}
.data-headers img
{
    width:20px;
    padding-left:20px;
    padding-top:2px; 
}
.data-headers img, .data-headers span
{
    float:left;
}
.data-headers span
{
    color:Black;
}

.data-headers span
{
    font-size:1em;
    padding-left:10px;
    padding-top:5px;
}

.data-headers .category
{
    font-weight:bold;
}

.data-headers .count
{
    font-size: 1em;
    font-style: italic;
}

.data-headers .count
{
    float:right;
}
data,.data-result
{
    float:left;
    clear:left;
    width:100%;
    overflow:hidden;
}
.data
{
    max-height:300px;
    width:100%;
}*/
#form-header
{
    margin-bottom:10px;
}
.data-result 
{
    position: relative;
    float: none;
    clear: both;
    margin-bottom: 30px;
    height: 10px;
}
span.count
{
    float:right;
}
#all-data-content
{
    margin-left :30px;
    margin-right:30px;
    
}
#company-data-content
{
    margin-bottom:190px;
}
.datepicker.created_data
{
    width: 93px!important; 
    text-align: center;
}
/*.date-pickers-block
{
    
    float:right;
}*/
#add-items
{
    margin-left:40px;
    position: relative;
    float: left;
}
#dates
{
    margin-top : 5px;
   /* margin-left:15px;
    float:right;*/
}
