﻿.cover
{
    float:left;
    padding-right:10px
}

.polcov, .polcovheader, .polpre
{
    padding-left:20px;
    overflow:hidden;
}

.polcov, .polcovheader{
    width:250px;
}

.polpre
{
    width:100px;
}

.commercial
{
    width:100px;
}

.cover
{
    height:20px;
}

.menu
{
    font-weight:bold;
}

.action
{
    padding-left:40px;
}


 .btnlinks a
{
    color:Black;
    font-size:1.3em !important;
    text-decoration:none;
}

.btnlinks a:hover
{
    cursor:pointer;
    color:White !important;
}

.btnlinks
{
    width:96%;
}

.ivis-table
{
   /* width:101%;*/
    max-height:550px;
    overflow-y:hidden;
}

.data:hover
{
    cursor:default !important;
}

.checkb { text-align:center}


#covers-data {
  max-height: 500px;
  position: relative;
  float: left;
  width: 98.7%;
  clear: both;
  border-right: 1px solid #73777c;
  overflow:hidden;
}

.row
{
    width: 100% !important;
}


.RecordsFoundStyle
{
    color:black;
    font-size:12px;
    border-color:White;
    border-style:none;
    font-weight:bold;
    border-style:none;
    
    
       
  }
    