﻿#TestRisk, #submitRisk, #Results
{
    width: 520px;
    overflow:hidden;
    padding-bottom:20px;
}

#TestRisk 
{
    background-color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border-left:2px solid #0099cc;
    border-right:2px solid #0099cc;
    border-bottom:2px solid #0099cc;
}

#submitRisk
{
    background-color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    border-left:2px solid #ff9900;
    border-right:2px solid #ff9900;
    border-bottom:2px solid #ff9900;
}

#Results
{
    background-color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    border-left:2px solid #267f40;
    border-right:2px solid #267f40;
    border-bottom:2px solid #267f40;  
    
}

#WelcomeMessage
{
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px !important;
    font-size:1.8em;
    font-weight:bold;
    color: #000000;
    font-family: Arial;
    text-align:center;
}

#instructions 
{
    width: 480px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px !important;
    font-size:1.22em;
    font-weight:bold;
    color: #000000;
    font-family: Arial;
    text-align:left;
}

.Steps
{
    height: 25px;
    background-color: #333333 !important; 
    width: 100% !important;
    padding-right:2px;
    color: #ffffff;
   
}

.dataField, .dataField1
{
    font-size:1.25em;
    margin-left: 15px;
    margin-top:10px;
    color: #000000;
    font-family: Arial;
    font-weight:bold;
}

.dataField input
{
    height: 27px;
    text-indent: 7px;
    width:170px;
    border: solid 1.99px #64dbf5;
   -moz-border-radius: 3px; 
    border-radius: 3px; 
    margin-bottom:0;
    margin-right: 20px !important;
    float: right;
}


.triangles {
    width: 0px;
    height: 0px;
    border-top: 12px solid transparent;
    border-bottom: 13px solid transparent;
    float:left;
}

#tri1
{
  border-left: 20px solid #0099cc;
}

#tri2
{
  border-left: 20px solid #ff9900;
}

#tri3
{
  border-left: 20px solid #267f40;
}

.rectangle
{
    width: 60px;
    margin: 0 !important;
    height: 22px;
    float:left;
    color: #000000;
    font-weight:bold;
    text-indent: 3px;
    font-size: 1.2em;
    padding-top: 1px !important;
    padding-bottom: 2px !important;
}

#rec1
{
  background-color: #0099cc;   
}

#rec2
{
    background-color: #ff9900;
}

#rec3
{
    background-color: #267f40;  
}

#OrDiv
{
 color: #000000;
 text-align: center;
 margin-top: 20px;   
 margin-bottom: 10px;  
 font-family: Arial;
 font-weight: bold;
 font-size: 1.3em; 
}

.numbers
{
    margin-left: 20px !important;
    color: #ffffff;
    padding-top: 5px !important;
    font-family: Arial;
    font-size: 1.3em;
    font-weight: bold;
    text-indent: 3px;
    
}

#subbtn
{
    background-color: #00afec;
    color: #fff;
    float: right;
    margin-right: 80px !important;
    -moz-border-radius: 4px;
    border-radius: 4px;
    height: 30px;
    width: 110px; 
    border: 2px thin #696969 !important;
    padding: 0 !important;
    
}


#subbtn1
{
    background-color: #00afec;
    color: #fff;
    
    margin-right: 80px !important;
    -moz-border-radius: 4px;
    border-radius: 4px;
    min-height: 37px;
   width: 100%; 
    border: 2px thin #696969 !important;
    padding: 0 !important;
    
}


#ResponseField
{
    height: 140px;
    text-indent: 7px;
    width:490px;
    border: solid 1.99px #64dbf5;
   -moz-border-radius: 3px; 
    border-radius: 3px; 
    font-size : 1.3em;
    margin: 3%;
   
}