﻿.inter-company
{
    width:150px;
}
.enabled
{
    padding-left:20px;
}
.print-cert, .print-note
{
    width:140px;
}
.print-cert
{
    padding-left:10px;
}
.inter-print-certs
{
    padding-left:73px;
}
.inter-enabled
{
    padding-left: 27px;
}
.inter-print-cover
{
    padding-left:140px;
}
.inter-print-limit
{
    padding-left:75px;
}


#addCompany
{
    width:368px !important;
    height:219px !important;
    margin:15px !important;
    padding:0px !important;
}

#form
{
    width:100%;
}

#intermediaries-buttons
{
    float: right;
    position: relative;
}

.intermediary-page
{
    width:100%;
    overflow:hidden;
    padding-bottom:20px;
}

#below-header
{
    margin-top: 20px;
    padding:5px;
}

.help:hover
{
    color:#00aeef;
    cursor:help;
}

.intermediary
{
    background-color:#ffffff;
    width:100%;
    border-radius:2px;
    border:1px solid #808080;
}

.inter-buttons
{
    margin-top:10px;
    background-color:#00aeef;
    width:100%;
    height:23px;
    float:right;
    padding-top:5px;
}

.inter-btn, .success
{
    margin-left:4px;
    color:White;
    background-color:#00aeef;
    border-width:0px;
    height:83%;
    float:right !important;
}

.success
{
    background-color:#afe765;
    color:Black;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    line-height: 20px;
    font-size:14px;
}

.inter-btn:hover, .success:hover
{
    cursor:pointer;
}

.inter-btn:active
{
    background-color:Black;
    color:White;
}

.data-row
{
    margin-top:10px;
    color:Black;
}

fieldset
{
    width:40% !important;
    margin:15px !important; 
    border:0px;
}


.field, .label
{
    padding-left:10px;
}

.field input
{
    height:15px;
    width:150px;
}

#submitbtn
{
    margin:10px;
    float:right;
    background-color:#29abe2;
    color:White;
    width:100px;
    height:20px;
    border-width:2px;
    border-radius:4px;
}

.label
{
    width:150px;
}

.int-check
{
    width:20px !important;
}


/* MODAL STYLING */
#companiesList
{
    width:100%;
    float:left;
    clear:both;
    overflow:hidden;
    max-height:400px;
}

.company-row.none
{
    margin-top:20px;
    font-weight:bold;
}


.item
{
    margin-right:5px;
    overflow:hidden;
}

.select
{
    width:40px;
}

.iajid 
{
    width:100px;
}

.companyType, .companyName
{
    width:150px;
}

.modalSearch
{
    float:left;
    padding-left:5px;
}

.btnlinks.modal
{
    width:100% !important;
}

.btnlinks
{
    width:98% !important;
}

.insured-modal
{
    height:470px;
}

.add-dynamic.big img
{
    margin-top:65px;
}
  
.data.row:hover .functions
{
    width:10%;
}
