﻿#footer
{
    height: 43px;
}

#main-div, #maincontent, #maincontent-insert
{
    min-height:87.9%;
    clear:both;
}

.page
{
    height:93.9%;
}

#Logofooter
{
    position:relative;
    bottom:10px;
}

#Logofooter img
{
    height:15px;
    padding-left:10px;
    margin-bottom:3px;
    padding-top:10px;
}

#help, #feedback{
    height:100%;
}