﻿#covercert-notification, .notification-section
{
    float:left;
    z-index:99;
}

/*  Added Stuff */

.noting-things
{
    position:absolute;
    left:50%;    
}

.note-segment
{
    background-color:White;
    width:200px;
    position:absolute;
    height:0px;
    overflow:hidden;
    z-index:10;
    top:37px;
}

.note-segment.show
{
    height:230px;
    border:1.7px solid #a8b5bd;
}

#coverlists
{
    height:200px;
    overflow:hidden;
    clear:both;
    float:left;
}
#coverlists #coverscroll
{
    height:200px;
    padding-bottom:15px;
    width:222px;
    overflow:scroll;
    z-index:10;
}
#coverlists, #seeallcover
{
    clear:both;
    float:left;
}
.covercertnote
{
    z-index:1000;
    background-color:#dbd8d6;
    margin:1px;
    height:30px;
    color:Black;
}

.covercertnote:hover .note-block
{
    background-color:#58a9e6;
}

.covercertnote:hover
{
    cursor:pointer;
}

#seeallcover
{
    z-index:50000;
    padding-top:3px;
}

#seeallcover a
{
    padding-left:70px;
    color:black;
    text-decoration:none;
    font-size:0.75em;
}

#seeallcover a:hover
{
    color:#396ec1;
}

#covercert-count span
{
    background-color:#ec0000;
    border:1px solid white;
    border-radius:4px;
    color: white;
    font-size: 0.65em;
    text-align:center;
    padding-bottom:1px;
    padding-left:2px;
    padding-right:2px;
}
#covertoggle, #covercert-count
{
    float:left;
}
#covercert-count
{
    float:left;
    position:relative;
    top:-30px;
    padding-left:20px;
}
#covercert-count span, #covercert-count img
{
    position:absolute;
}
#covercert-count img
{
    height:18px;
    visibility:hidden;
}

.covercert_remove
{
 float: left;
 padding-right:2px;
 transform:translateY(20%);
 -webkit-transform:translateY(20%);
}
.covercert_content
{
    float:left;
    width:150px;
    overflow:hidden;
    font-size:0.75em;
}

.notificationtoggle
{
    z-index:99;
    position:relative;
    left:18px;
    top:4px;
}
.note-count
{
    z-index:10;
    background-color:#ec0000;
    border:1px solid #ec0000;
    border-radius:4px;
    padding:2px;
    top: 5.5px;
    position: relative;
    height:14px;
    min-width:14px;
}

.notificationtoggle img
{
    width:36px;
}

.notificationtoggle:hover
{
    cursor:pointer;
}

.notificationtoggle:hover + .note-count, .note-count:hover
{
    left:13px;
}

.notificationtoggle, .note-count
{
    float:left;
}

#covertoggle
{
    float:left;
    cursor:pointer;
    padding-right:10px;
}

.note-count span
{
    color: white;
    font-size: 0.65em;
    text-align:center;
    position:relative;
    top:-6px;
    width:100%;
    padding-left:18px;
}

#notelists
{
    
    height:200px;
    overflow:hidden;
     clear:both;
    float:left;
}

#notelists #notesscroll
{
    height:200px;
    padding-bottom:15px;
    width:222px;
    overflow:scroll;
    z-index:10;
}

.note
{
    z-index:1000;
    background-color:#dbd8d6;
    margin:1px;
    height:30px;
}

.note-meat, .note-block, .note_remove, .note_heading, .note_content
{
    float:left;
}

#notelists, #seefullnotify, .notify-borders
{
    clear:both;
    float:left;
}

#seefullnotify
{
    z-index:50000;
    padding-top:3px;
}

#seefullnotify a
{
    padding-left:55px;
    color:black;
    text-decoration:none;
    font-size:0.75em;
}

#seefullnotify a:hover
{
    color:#396ec1;
}

.note_heading, .note_content
{
    width:150px;
    overflow:hidden;
    font-size:0.75em;
}

.note-meat
{
    width:190px;
}

.note_remove
{
    padding-right:2px;
    transform:translateY(20%);
    -webkit-transform:translateY(20%);
}

.note-block
{
    width:8px;
    height:100%;
    background-color:#396ec1;
    float:right;
}

.note:hover .note-block
{
    background-color:#58a9e6;
}

.note:hover
{
    cursor:pointer;
}

.note
{
    color:Black;
}


.notify-borders
{
    height:4px;
    width:100%;
    background-color:#d6d9d5;
    margin-top:2px;
    border-bottom:3px solid #858c7f;
    border-top:3px solid #858c7f;
}
