﻿
#buttons
{
    width: 300px;
    float: right;
}

#adding
{
   width: 100px;
   float: left; 
}

#creating
{
    width:100px;
    float:left;
}

#cancelling
{
    width:100px;
    float:right; 
}

#addCompany1
{
    font-size: 1.4em;
}

.company
{
    border:1px solid black;
    width: 800px;
    margin-bottom: 4px;
    background-color: #EAEAEA;
    padding-left: 3px;
    
}

.newdriver
{
    border:1px solid black;
    width: 700px;
    margin-bottom: 4px;
    margin-top: 10px;
    background-color: #ffffff;
    padding-left: 3px;
    
}

#authorized1, #excepted1, #excluded1
{
    padding-bottom:10px;
    
}

.selectedRow
{
    background-color: #90e185 !important;
}

.container
{
    float:left;
    border:1px solid #b3b3b3;
    background-color:#ffffff;
    overflow:hidden;
    padding-top:10px;
    padding-bottom:10px;
    /*margin-bottom:10px;*/
    margin-top:10px;
}

.container.nomtop
{
    margin-top:0px;
}

.container.big
{
    width:99.5%;
}

.container.medium
{
    width:95%;
}

.container.medium
{
    width:104%;
}

.container.small
{
    width:48.125%;
    margin-left:10px;
}

.icon-record
{
    float:right;
    position: relative;
    right : 5px;
    top : -8px;
}

.container.small.left
{
    margin-left:0px;
}

.container .data .label,
.container .data .header
{
    padding-left:10px;
    width:100%;
}

.container .data .header
{
    font-size:1.3em;
    font-weight:bold;
    position:relative;
    top:-10px;
}

.ui-dialog .ui-dialog-content
{
    padding:1em;
}

.adw-div
{
    margin-left:12px;
}