﻿#rm-page-assign
{
    width:62%;
    margin-left:10%;
    margin-top:5%;
}

#page-title
{
    float:left;
    clear:left;
    padding-top:10px;
    opacity:0.5;
    height:50px;
    width:100%;
    border-bottom: 4px solid #707070;
}

#page-title img, #page-title span
{
    float:left;
}
#page-title img
{
    height:40px;
}

#page-title span
{
    font-size: 1.7em;
    position: relative;
    left: 5px;
    top: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

#groupusers, #notgroupusers, .move-buttons, .group
{
    float:left;
}

#groupusers, #notgroupusers
{
    width: 200px;
    height: 165px;
}

.class
{
    width: 350px;
    height: 200px;
}

.modify
{
    height:100%;
    width:100%;
    margin-left:-40px;
}

.not-in-group, .in-group, .move-buttons
{
    float:left;
}

.move-buttons
{
    margin-top:90px;
    margin-left:auto;
    margin-right:auto;
    width:80px;
    padding-left:8px;
    padding-right:8px;
    
}

.add-button, .rm-button, .submit-button
{
    clear: both;
    background-color: #FF3E96;
    color: #fff;
    -moz-border-radius: 8px;
    border-radius: 8px;
    height: 25px;
    width: 80px;
}



.submit-button, a.link
{
    clear:both;
    float:right;
    margin-top:8px;
    margin-right:70px;
    color:Black;
    text-decoration:none;
    font-size:1.3em;
}

a.link:hover
{
    color:White;
}

.searching
{
    width:196px;
    height:30px;
    float:left;
    clear:left;
}

.group h3, .group input, .group select
{
    float:left;
    clear:left;
}

fieldset
{
    position:relative;
    top:30px;
}

.data
{
    position:relative;
    left:-12%;
}