﻿#page-title
{
    float:left;
    clear:left;
    padding-top:10px;
    opacity:0.5;
    height:50px;
    width:100%;
    border-bottom: 4px solid #707070;
}

#page-title img, #page-title span
{
    float:left;
}
#page-title img
{
    height:40px;
}

#page-title span
{
    font-size: 1.7em;
    position: relative;
    left: 5px;
    top: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.all-user-permission
{
    width:220px;
}

.heading, .searching, #allpermissions
{
    float:left;
    clear:left;
}

.submitbutton
{
    margin-left:100px;
}