﻿#companies-search, #user-search, #vehicles-search, #policies-search, #covernotes-search, #certificates-search
{
    clear:both;
    margin-bottom:20px;
    margin-left:auto;
    margin-right:auto;
    margin-top:0px;
}

.row
{
    clear:left;
    width:700px;
    height:auto;
}

.item
{
    float:left;
    padding-right:7px;
}

.odd
{
    
}

#vehicles-search.even
{
    background-color:#518155;
}