﻿.ivis-table
{
    width:98%;
    margin-top :5px;
    float:left;
    clear:both;
}

.ivis-table-covercert
{
    width:99%;
    margin-top :5px;
    float:left;
    clear:both;
}

.ivis-table.company-list-table
{
    margin-top:0px !important;
}
.ivis-table.company-list-table .table-data
{
    margin-bottom:0px !important;
}

.menu, .row
{
    width:98%;
    min-height:20px;
    padding-left:5px;
    font-size:0.875em;
    float:left;
    clear:both;
    /*line-height:18px;*/
}

.menu
{
    border:1px solid #73777c;
    font-weight:bold;
    float:left;
    clear:both;
    background-color:#0071bc;
}

.row
{
    border-left:1px solid #73777c;
    border-right:1px solid #73777c;
    border-bottom:1px solid #73777c;
   
}

.row.odd{
    background-color: #f2f2f2;
}

.row.even
{
    background-color: White;
}

.row.red
{
    background-color: #950011;
}

.menu .item
{
    color:White;
    float:left;
}

.row:hover
{
    background-color:#29abe2;
    color:White;
    cursor:pointer;
}

.item
{
    overflow:hidden;
    float:left;
    min-height:15px;
    white-space:nowrap;
    text-overflow:ellipsis;
    /*max-width:0px;*/
}

.modal-list .row .item, .modal-list .menu .item
{
    transform:translateY(20%);
    -webkit-transform:translateY(20%);
}

.row .select, .modal-list .row .select
{
    transform: none;
    -webkit-transform: none;
}

.selected
{
    background-color: #90e185 !important;
}

.functions
{
    display:none;
}

.data.row:hover .functions
{
    position:absolute;
    display:inline;
    left:70%;
    background-color:#29abe2;
    overflow:hidden;    
    height:20px;
}

.table-data
{
    overflow:hidden;
    min-height:200px;
    max-height:400px;
    margin-left:10px;
    float:left;
    clear:left;
    position:relative;
    margin-bottom:10px;
    width:100%;
}

.row.disabled
{
    background-color:#950011 !important;    
    border-bottom:1px solid black;
    color:White;
}

.row + row.disabled
{
    border-bottom:1px solid black;
}

.row.disabled:hover
{
    background-color:#29abe2 !important;    
}

/*DOUBLE INSURED**/
.di-chassisno
{
    width:200px;
}
.di-make,.di-model
{
    width:100px;
}

/*GAUGE LINKS*/

.gauge-links
{
    float: right;
    font-size: 0.65em;
    padding-right : 10px;
}