﻿#wording-page
{
    overflow:hidden;
}

.type, .ext
{
    width:200px !important;
}

.action a, a.links
{
    color:Black;
    text-decoration:none;
}

.action a:hover, a.links:hover
{
    color:White;
}

a.links
{
    margin-top:10px;
}

#templateButtons
{
    float:right;
    padding-top:4%;
    padding-bottom: 70px;
    padding-right: 240px;
}

.word-check
{
    float:left;
}

.check-field
{
    width:100%;
    float:left;
    clear:both;
}

.check-field .editor-field, .check-field .editor-label
{
    clear:none;
    float:left;
}

.check-field .editor-label
{
    width:230px;
}

.check-field .editor-field input
{
    width:15px !important;
}

.check-field div
{
    float:left;
    clear:none !important
}

.ivis-table
{
    width: 100% !important;
}

textarea
{
    width:330px;
    height:200px;
}

.createLink
{
    float:right;
    clear:both;
}

.text-area-section
{
    float:left;
    clear:both;
    width:100%;
    padding-top:2px;
    padding-bottom:15px;
}

.text-area-section textarea, .text-area-section .text-area-btns
{
    float:left;
    clear:none;
}

.text-area-btns
{
    margin-top:10px;
}

.text-area-btns button
{
    margin-left:5px;
    float:left;
    clear:both;
}

.menu
{
    margin-left:10px;
}

.word-count
{
    float:left;
    margin-right:15px;
    margin-top:5px;
    font-size:0.7em;
}