﻿.action
{
    margin-left:10px;
    margin-right:40px;
}
.timestamp
{
    margin-right:30px;
    width:200px;
}
.ipaddress
{
    margin-right:10px;
    width: 90px;
}
.uniqueID
{
    margin-right:35px;
    width:117px;
}

.olddata,.newdata
{
    width:541px;
    height:178px;
}
.auditrow.functions.item {
    margin-left: 70px;
}
.scroll-table
{
    overflow:hidden;
    float:left;
    clear:both;
    width: 99.3%;
    max-height:200px !important;
    position: relative;
    margin-bottom:20px;
}

/*
.dataLabel
{
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
}*/

