﻿.duplicate
{
    float:left;
    padding:5px;
    margin:5px;
    clear:none;
    border:1px solid black;
    width:260px;
}

.all-duplicates
{
    min-width:280px;
    min-height:300px;
    max-width:650px;
    max-height:420px;
    overflow:hidden;
}

.audit-risk
{
    margin:5px;
    padding:5px;
    border:1px solid black;
}

.prev, .next
{
    background-color:#29abe2;
    width:20px;
    height:20px;
    border-radius:70px;
    color:white;
    text-align:center;
    line-height:20px;
    float:left;
    clear:none;
    border:none;
    position:absolute;
    top:50%;
    z-index:100;
}

.next
{
    right:34px;
}

.prev:hover, .next:hover
{
    cursor:pointer;
}

.sliding-div
{
    float: left;
    clear: none;
    margin-left: 20px;
    position:relative;
    white-space:nowrap;
}

.view-window-div
{
    width:564px;
    overflow:hidden;
}