﻿#footer
{
    height: 35px;
    margin-top:5px;
}

.page
{
    /*overflow:hidden;*/
}

#main-div, #maincontent, #maincontent-insert
{
    min-height:87.5%;
    clear:both;   
    padding-bottom:50px;
}

#Logofooter img
{
    height:15px;
    padding-left:10px;
    margin-top:3px;
}

#feedback, #help
{
    font-size:0.8em;   
    position:relative;
    bottom:5px;
}

#Logofooter
{
    position:relative;
    top:5px;
}

#inner-footer
{
    bottom:0px;
    height:100%;
    position:absolute;
}

#help, #feedback{
    height:100%;
}

.footlinks
{
    float:right;
    position:relative;
    bottom:12.5px;
    width:100%;
}