﻿#mapping-datamap, .links
{
    float:left;
    clear:left;
}


.lockbtn, .unlockbtn
{
    width:100px !important;
}

.lock .submitbutton img
{
    height:15px;    
}

.lock .submitbutton span, .lock .submitbutton img{
    /*float:left;*/
    padding-right:5px;
}

.lockbtn:hover
{
    background-color:#B80000 !important;
    color :White !important;
    border:1px solid #333333 !important;
}

.unlockbtn:hover
{
    background-color:#208120 !important;
    color:White !important;
    border:1px solid #333333 !important;
}

.tablename
{
    width:100px;
    word-wrap:word-break;
}

.datamap
{
    width:40%;
}

.refid
{
    width:250px;
}

.mappingtabledata
{
    position:relative;
    height:500px;
    width:100%;
    overflow:hidden;
    float:left;
    clear:both;
}

.item
{
    height:100% !important;
}

.datamap, .tablename
{
    transform:translateY(20%);
    -webkit-transform:translateY(20%);
}

.lockbtn, .unlockbtn
{
    height:22px !important;
    margin-top:2px;
    border:1px solid #73777c !important;
    font-size:0.9em !important;
    /*border-right:1px solid #73777c !important;*/
}

.ivis-table
{
    width:100% !important;
}
