﻿#note-page
{
    position:relative;
    left:5%;
    margin-top:5%;
    width:55%;
}

.page-title img, .page-title span, .page-title, .notification, #note-page
{
    float:left;
}

.page-title img
{
    height:40px;
}

.page-title span
{
    font-size: 1.7em;
    position: relative;
    left: 5px;
    top: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.page-title, .notification, #note-page, .links
{
    clear:both;
}

.page-title
{
    float: left;
    clear: both;
    padding-top: 10px;
    opacity: 0.5;
    height: 50px;
    width: 100%;
    border-bottom: 4px solid #707070;
}

.notification
{
    position:relative;
    top:10px;
}

.editor-field textarea#content
{
    min-height:200px;
    max-height:400px;
    border-radius:4px;
    font-size:1.1em;
    text-indent:3px;
    width:500px !important;
    border: 1px solid #CCC;
    overflow-y:auto;
    resize:none;
    font-family: Arial;
}

.links
{
    /*margin-top:460px;*/
    float:right;    
    height:20px;
    width:150px;
}

.links a
{
    font-size:1.3em;
    text-decoration:none;
    color:Black;
}

.links a:hover
{
    color:White;
}

.btnlinks
{
    width:100% !important;
}

.contentView
{
    background-color:#ebebe4;
    height: 200px;
    width: 600px;
    padding: 8px;
    border:1px solid #CCC;
    resize:none;
}