﻿.message, .responses, #response
{
    float:left;
    clear:both;
}

#response
{
    background-color:White;
    width:100%;
    min-height:100px;
    margin-top:10px;
    border:1px solid #b3b3b3;
    padding-bottom: 10px;
    padding-top: 10px;
}

.responses
{
    padding:5px;
    margin-top:5px;
    margin-bottom:5px;
}

.message
{
    padding:2px 5px 2px 5px;
}

.message, .title
{
    font-size:0.7em;
}

.error
{
    color:Red;
}

.success
{
    color:Green;
}

.title:hover
{
    cursor:pointer;
}

.title .success, .title .error
{
    clear:none;
}

.title div
{
    float:left;
    margin-right:2px;
}

.data.slidedown
{
    float:left;
    clear:both;
}
