﻿#leftinner
{
    float:left;
}

#covernotes
{
    float:right;
    width:500px;
}

.row 
{
    height:25px;
}
.item
{
    float:left;
    width:100px;
}

#covernotes.row
{
    clear:left;
    
}

.current
{
    background-color:#0099CC;
    color:White;
}

#covernotes.history
{
    visibility:hidden;
}