﻿<%@ Control Language="C#" Inherits="System.Web.Mvc.ViewUserControl<Honeysuckle.Models.Notification>" %>

    <%--<% if(Model.ID != 0){ %>
        <% using(Html.BeginCollectionItem("notes"))
            { %>
            <% if (ViewData["show"] != null)
               { %>
                <% if (ViewData["show"].ToString() == "true")
                   { %>
                    <div class="note show">
                <% } %>
                <% else
                   { %>
                    <div class="note">
                <% } %>
            <% } %>
            <% else
               { %>
               <div class="note">
            <% } %>
                <div class="note-meat">
                    <a href="<%= Url.Action("Read", "Notification", new {id = Model.ID}) %>" class="note_remove icon" title="Mark Message as Read" >
                        <img src="../../Content/more_images/mark_read_icon.png" class="sprite" />
                    </a>
                    <%: Html.HiddenFor(model => model.ID, new { @class = "NID dont-process" })%>
                    <div class="note_heading"><%: Model.heading %></div> 
                    <div class="note_content"><%: Model.content %></div> 
                </div>
                <div class="note-block"></div>
            </div>
            
        <% } %>
    <% } %>--%>
      <div style="font-size:0.7em;text-align:center;">Click 'All Notifications' to see notifications</div>  


