﻿<%@ Control Language="C#" Inherits="System.Web.Mvc.ViewUserControl<Honeysuckle.Models.AuthorizedDriverWording>" %>

<%: Html.TextAreaFor(model => model.wording, new { @class = "wording-textarea" })%>